// Gray Shades
$gray__900:				#212121;
$gray__800:				#424242;
$gray__700:				#616161;
$gray__600:				#757575;
$gray__500:				#9E9E9E;
$gray__400:				#BDBDBD;
$gray__300:				#E0E0E0;
$gray__200:				#EEEEEE;
$gray__100:				#F5F5F5;
$gray__50:				#FAFAFA;

// Black alpha compositing
$alpha-black__900:		rgba(0, 0, 0, 0.87);
$alpha-black__800:		rgba(0, 0, 0, 0.74);
$alpha-black__700:		rgba(0, 0, 0, 0.62);
$alpha-black__600:		rgba(0, 0, 0, 0.54);
$alpha-black__500:		rgba(0, 0, 0, 0.38);
$alpha-black__400:		rgba(0, 0, 0, 0.26);
$alpha-black__300:		rgba(0, 0, 0, 0.12);
$alpha-black__200:		rgba(0, 0, 0, 0.065);
$alpha-black__100:		rgba(0, 0, 0, 0.04);
$alpha-black__50:		rgba(0, 0, 0, 0.02);

// White alpha compositing
$alpha-white__900:		rgba(255, 255, 255, 0.98);
$alpha-white__800:		rgba(255, 255, 255, 0.96);
$alpha-white__700:		rgba(255, 255, 255, 0.935);
$alpha-white__600:		rgba(255, 255, 255, 0.88);
$alpha-white__500:		rgba(255, 255, 255, 0.74);
$alpha-white__400:		rgba(255, 255, 255, 0.62);
$alpha-white__300:		rgba(255, 255, 255, 0.46);
$alpha-white__200:		rgba(255, 255, 255, 0.38);
$alpha-white__100:		rgba(255, 255, 255, 0.26);
$alpha-white__50:		rgba(255, 255, 255, 0.13);

// Social Media and Brand Colors
$color__behance:		#1769FF;
$color__bloglovin:		#000000;
$color__buffer:			#168EEA;
$color__digg:			#1D1D1B;
$color__dribbble:		#EA4C89;
$color__email:			$gray__500;
$color__facebook:		#3B5998;
$color__flattr:			#F67C1A;
$color__flickr:			#FF0084;
$color__forrst:			#5B9A68;
$color__foursquare:		#F94877;
$color__github:			#4078C0;
$color__gitlab:			#FC6D26;
$color__googleplus:		#DD4B39;
$color__instagram:		#405DE6;
$color__linkedin:		#0077B5;
$color__medium:			#00AB6C;
$color__pinterest:		#BD081C;
$color__pocket:			#EF4056;
$color__quora:			#A82400;
$color__reddit:			#FF4500;
$color__rss:			#F26522;
$color__snapchat:		#FFFC00;
$color__soundcloud:		#FF3A00;
$color__stumbleupon:	#EB4823;
$color__tumblr:			#32506D;
$color__twitch:			#6441A5;
$color__twitter:		#1DA1F2;
$color__vimeo:			#AAD450;
$color__vkontakte:		#45668E;
$color__whatsapp:		#25D366;
$color__wordpress:		#21759B;
$color__yahoo:			#7B0099;
$color__youtube:		#BB0000;
$color__xing:			#005A60;
