/*
## 404
*/

/*
## About
*/

/*
## Alignments
*/

/*
## Archive
*/

/*
## Avatars
*/

/*
## Blog Post
*/
.entry {
	$b: &;
	margin-bottom: rhythm(2);
	&__header {
		margin-bottom: rhythm(2);
	}
	&__content {
		margin-bottom: rhythm(2);
		@include clearfix;
	}
	&__footer {
		@include clearfix;
		margin-bottom: rhythm(2);
		&:last-child {
			margin-bottom: 0;
		}
		&-metadata {
			float: left;
		}
		&-social-share-links {
			float: right;
			&:only-child {
				float: none;
			}
		}
	}
	&__title {
		position: relative;
		margin-bottom: rhythm(3);
		font-family: $font-family__title;
		font-weight: $font-weight__title;
		@include font-size(3.5);
		text-align: center;
		&::after {
			position: absolute;
			bottom: rhythm(-1);
			left: 50%;
			width: rhythm(3);
			max-width: 100%;
			transform: translateX(-50%);
			border-bottom: rhythm('0:4px') solid currentColor;
			content: '';
		}
		&-text {
			display: inline;
		}
	}
	&--title-left &__title {
		text-align: left;
		&::after {
			left: 0;
			transform: translateX(0);
		}
	}
	&--title-right &__title {
		text-align: right;
		&::after {
			right: 0;
			left: auto;
			transform: translateX(0);
		}
	}
	&__thumbnail {
		margin: rhythm(0 0 1);
		&:last-child {
			margin-bottom: 0;
		}
		&-image {
			width: 100%;
		}
	}
	&__wrapper {
		width: 100%;
		// max-width: calc(100% - #{rhythm(4)});
		margin: rhythm(0 auto 2);
		&:last-child {
			margin-bottom: 0;
		}
	}
	@include until-tablet {
		margin-bottom: rhythm(1);
		&__header {
			margin-bottom: rhythm(1);
		}
		&__content {
			margin-bottom: rhythm(1);
		}
		&__footer {
			&-metadata {
				margin-bottom: rhythm(1);
				float: none;
				&:last-child {
					margin-bottom: 0;
				}
			}
			&-social-share {
				float: none;
			}
		}
		&__title {
			margin-bottom: rhythm(1);
		}
		&__thumbnail {
			margin-bottom: rhythm(1);
		}
	}
}
.entry-teaser {
	margin-bottom: rhythm(1);
	padding-bottom: rhythm(1.5);
	border-bottom: 2px solid $color__dividers;
	background-color: #FFFFFF;
	&:last-child {
		margin-bottom: 0;
	}
	&__header {
		padding: rhythm(0 0 0.5);
	}
	&__content {
		padding: rhythm(0 1.5 1);
	}
	&__footer {
		padding: rhythm(0 1.5);
	}
	&__thumbnail {
		position: relative;
		margin: 0;
		&::after {
			position: absolute;
			right: rhythm(0.5);
			bottom: 0;
			left: rhythm(0.5);
			height: rhythm(1);
			background-color: #FFFFFF;
			content: '';
		}
		&-link {
			display: block;
			color: $color__text-primary;
		}
		&-image {
			width: 100%;
			height: auto;
		}
	}
	&__title {
		display: block;
		padding: rhythm(0 1.5);
		color: $color__text-primary;
		font-family: $font-family__title;
		font-weight: $font-weight__title;
		@include font-size(2, 1.25);
		&-link {
			color: inherit;
			font-family: inherit;
			font-weight: inherit;
		}
	}
	&--no-thumbnail {
		padding-top: rhythm(0.5);
	}
}
.more-link {
	&__ellipses {
		margin: 0 0.25em;
	}
	&__a {
		color: $color__text-primary;
		font-weight: $font-weight__bold;
		white-space: nowrap;
	}
}
.tags {
	margin-bottom: rhythm(1);
	@include clearfix;
	&:last-child {
		margin-bottom: 0;
	}
	&__item {
		height: rhythm(1);
		margin-top: rhythm(0.25);
		margin-right: rhythm(0.25);
		padding: rhythm(0 1 / 2);
		float: left;
		border-radius: rhythm(1);
		background-color: $gray__100;
		color: $color__text-secondary;
		@include font-size(-1, 1);
	}
}
.metadata {
	display: flex;
	flex-wrap: nowrap;
	align-content: space-between;
	align-items: center;
	&__cta {
		margin-right: rhythm(0.5);
		&:last-child {
			margin-right: 0;
		}
	}
	&__category {
		margin-right: rhythm(0.5);
		&:last-child {
			margin-right: 0;
		}
		&-link {
			display: inline-block;
			height: rhythm(1.5);
			padding: rhythm(0 1.5 / 3);
			border: $border-width__button solid currentColor;
			color: $color__text-primary;
			font-weight: $font-weight__bold;
			@include font-size(0, '1.5:-#{$border-width__button * 2}');
		}
	}
	&__author {
		display: flex;
		align-content: center;
		align-items: center;
		margin-right: rhythm(0.5);
		&:last-child {
			margin-right: 0;
		}
		&-image {
			&-link {
				display: inline-block;
				width: rhythm(1.5);
				height: rhythm(1.5);
				margin-right: rhythm(0.25);
				color: $color__text-primary;
			}
			&-tag {
				display: inline-block;
				width: rhythm(1.5);
				height: rhythm(1.5);
				border-radius: 100%;
			}
		}
		&-info {
			display: inline-block;
		}
		&-name, &-posts-count, &-datetime {
			display: block;
			color: $color__text-primary;
			@include font-size(-1, 0.75);
			// font-weight: $font-weight__bold;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
		&-posts-count, &-datetime {
			color: $color__text-hint;
		}
		&-name-link, &-posts-count-link, &-datetime-link {
			color: inherit;
			font-weight: inherit;
		}
	}
	&__datetime {
		display: flex;
		margin-right: rhythm(0.5);
		padding: rhythm(0 1.5 / 3);
		border: $border-width__button solid $color__dividers;
		border-radius: rhythm(1.5);
		color: $color__text-hint;
		@include font-size(0, '1.5:-2px');
		&:last-child {
			margin-right: 0;
		}
		&-link {
			color: inherit;
			font-weight: inherit;
		}
		&-icon {
			&::after {
				content: '\00a0';
			}
		}
	}
	&--compact &__category {
		height: rhythm(1);
		padding: rhythm(0 1 / 3);
		border-width: $border-width__button;
		// border-radius: rhythm(1);
		// font-weight: $font-weight__button;
		@include font-size(-1, false);
		line-height: rhythm('1:-#{$border-width__button * 2}');
	}
	&--compact &__author {
		&-image {
			&-tag {
				width: rhythm(1);
				height: rhythm(1);
			}
		}
		&-name {
			@include font-size(0, 1);
			font-weight: $font-weight__base;
		}
	}
	&--compact &__datetime {
		padding: 0;
		border: none;
		border-radius: 0;
		@include font-size(0, 1);
	}
}
.social-share-links {
	display: flex;
	&__item {
		width: rhythm(1.5);
		height: rhythm(1.5);
		margin-right: rhythm(0.25);
		border-radius: 100%;
		background-color: $gray__900;
		color: $gray__50;
		@include font-size(0, 1.5);
		text-align: center;
		&:last-child {
			margin-right: 0;
		}
		&--buffer {
			background-color: $color__buffer;
		}
		&--digg {
			background-color: $color__digg;
		}
		&--facebook {
			background-color: $color__facebook;
		}
		&--flattr {
			background-color: $color__flattr;
		}
		&--googleplus {
			background-color: $color__googleplus;
		}
		&--linkedin {
			background-color: $color__linkedin;
		}
		&--pinterest {
			background-color: $color__pinterest;
		}
		&--pocket {
			background-color: $color__pocket;
		}
		&--reddit {
			background-color: $color__reddit;
		}
		&--stumbleupon {
			background-color: $color__stumbleupon;
		}
		&--tumblr {
			background-color: $color__tumblr;
		}
		&--twitter {
			background-color: $color__twitter;
		}
		&--vkontakte {
			background-color: $color__vkontakte;
		}
		&--whatsapp {
			background-color: $color__whatsapp;
		}
		&--xing {
			background-color: $color__xing;
		}
		&--email {
			background-color: $color__email;
		}
	}
}

/*
## Buttons
*/
@mixin button-variant(
	$selector: 'button',
	$bg: $gray__300,
	$bg-hover: if(type-of($bg) == color, lighten($bg, 6.2%), $bg),
	$bg-active: if(type-of($bg) == color, darken($bg, 6.2%), $bg),
	$text: contrast-color($bg),
	$text-hover: $text,
	$text-active: $text,
	$states: true,
	$mods: null
	) {
	$static: index($mods, 'static');
	$ghost: index($mods, 'ghost');
	background-color: $bg;
	color: $text;
	@if $states {
		&:focus, &:hover {
			background-color: $bg-hover;
			color: $text-hover;
		}
		&:active {
			background-color: $bg-active;
			color: $text-active;
		}
		&:disabled {
			background-color: $bg;
			color: $text;
		}
	}
	@if $static {
		&.#{$selector}--static {
			background-color: $bg;
			color: $text;
		}
	}
	@if $ghost and $bg != transparent {
		&.#{$selector}--ghost {
			border-color: $bg;
			background-color: transparent;
			color: $bg;
			@if $states {
				&:focus, &:hover {
					border-color: transparent;
					background-color: $bg;
					color: $text;
				}
				&:active {
					border-color: transparent;
					background-color: $bg-active;
					color: $text-active;
				}
				&:disabled {
					border-color: $bg;
					background-color: transparent;
					color: $bg;
				}
			}
		}
	}
}
@mixin make-button(
	$bg: $gray__300,
	$bg-hover: if(type-of($bg) == color, lighten($bg, 6.2%), $bg),
	$bg-active: if(type-of($bg) == color, darken($bg, 6.2%), $bg),
	$text: contrast-color($bg),
	$text-hover: $text,
	$text-active: $text,
	$display: inline-block,
	$height: $height__button,
	$border-width: $border-width__button,
	$border-color: transparent,
	$margin: 0,
	$padding-mod: 2,
	$padding: 0 '#{$height / $padding-mod}:-#{$border-width}',
	$transition: 'border, background-color, color',
	$font-family: $font-family__base,
	$font-size: 0,
	$font-weight: $font-weight__button,
	$line-height: '#{$height}:-#{$border-width * 2}',
	$text-align: center,
	$text-decoration: none,
	$vertical-align: middle,
	$padding-mod-rounded: 1.75,
	$padding-mod-icon: 3,
	$mods: null
	) {

	$static: index($mods, 'static');
	$ghost: index($mods, 'ghost');
	$block: index($mods, 'block');
	$h1: index($mods, 'h1');
	$h2: index($mods, 'h2');
	$h3: index($mods, 'h3');
	$h4: index($mods, 'h4');
	$h5: index($mods, 'h5');
	$h6: index($mods, 'h6');
	$small: index($mods, 'small');
	$xsmall: index($mods, 'xsmall');
	$rounded: index($mods, 'rounded');
	$rounded-left: index($mods, 'rounded-left');
	$rounded-right: index($mods, 'rounded-right');
	$rounded-circle: index($mods, 'rounded-circle');
	$square: index($mods, 'square');

	display: $display;
	height: rhythm($height);
	margin: rhythm($margin);
	padding: rhythm($padding);
	@include transition($transition);
	border: $border-width solid $border-color;
	// outline: none;
	@include button-variant(
		$bg: $bg,
		$bg-hover: $bg-hover,
		$bg-active: $bg-active,
		$text: $text,
		$text-hover: $text-hover,
		$text-active: $text-active,
		$mods: $mods
	);
	font-family: $font-family;
	@include font-size($font-size, $line-height);
	font-weight: $font-weight;
	text-align: $text-align;
	text-decoration: $text-decoration;
	// text-transform: uppercase;
	vertical-align: $vertical-align;
	&:disabled {
		cursor: not-allowed;
		opacity: $opacity__disabled;
	}
	@if $block {
		&--block {
			display: block;
			width: 100%;
		}
	}
	@if $h1 {
		&--h1 {
			height: rhythm($height__button-h1);
			padding: rhythm(0 '#{$height__button-h1 / $padding-mod}:-#{$border-width__button}');
			@include font-size(5, false);
			line-height: rhythm('#{$height__button-h1}:-#{$border-width__button * 2}');
		}
	}
	@if $h2 {
		&--h2 {
			height: rhythm($height__button-h2);
			padding: rhythm(0 '#{$height__button-h2 / $padding-mod}:-#{$border-width__button}');
			@include font-size(4, false);
			line-height: rhythm('#{$height__button-h2}:-#{$border-width__button * 2}');
		}
	}
	@if $h3 {
		&--h3 {
			height: rhythm($height__button-h3);
			padding: rhythm(0 '#{$height__button-h3 / $padding-mod}:-#{$border-width__button}');
			@include font-size(3, false);
			line-height: rhythm('#{$height__button-h3}:-#{$border-width__button * 2}');
		}
	}
	@if $h4 {
		&--h4 {
			height: rhythm($height__button-h4);
			padding: rhythm(0 '#{$height__button-h4 / $padding-mod}:-#{$border-width__button}');
			@include font-size(2, false);
			line-height: rhythm('#{$height__button-h4}:-#{$border-width__button * 2}');
		}
	}
	@if $h5 {
		&--h5 {
			height: rhythm($height__button-h5);
			padding: rhythm(0 '#{$height__button-h5 / $padding-mod}:-#{$border-width__button}');
			@include font-size(1, false);
			line-height: rhythm('#{$height__button-h5}:-#{$border-width__button * 2}');
		}
	}
	@if $h6 {
		&--h6 {
			height: rhythm($height__button-h6);
			padding: rhythm(0 '#{$height__button-h6 / $padding-mod}:-#{$border-width__button}');
			@include font-size(0, false);
			line-height: rhythm('#{$height__button-h6}:-#{$border-width__button * 2}');
		}
	}
	@if $small {
		&--small {
			height: rhythm($height__button-small);
			padding: rhythm(0 '#{$height__button-small / $padding-mod}:-#{$border-width__button}');
			@include font-size(-1, false);
			line-height: rhythm('#{$height__button-small}:-#{$border-width__button * 2}');
		}
	}
	@if $xsmall {
		&--xsmall {
			height: rhythm($height__button-xsmall);
			padding: rhythm(0 '#{$height__button-xsmall / $padding-mod}:-#{$border-width__button}');
			@include font-size(-2, false);
			line-height: rhythm('#{$height__button-xsmall}:-#{$border-width__button * 2}');
		}
	}
	@if $rounded {
		&--rounded {
			padding: rhythm(0 '#{$height__button / $padding-mod-rounded}:-#{$border-width__button}');
			border-radius: 99em;
			@if $h1 {
				&.button--h1 {
					padding: rhythm(0 '#{$height__button-h1 / $padding-mod-rounded}:-#{$border-width__button}');
				}
			}
			@if $h2 {
				&.button--h2 {
					padding: rhythm(0 '#{$height__button-h2 / $padding-mod-rounded}:-#{$border-width__button}');
				}
			}
			@if $h3 {
				&.button--h3 {
					padding: rhythm(0 '#{$height__button-h3 / $padding-mod-rounded}:-#{$border-width__button}');
				}
			}
			@if $h4 {
				&.button--h4 {
					padding: rhythm(0 '#{$height__button-h4 / $padding-mod-rounded}:-#{$border-width__button}');
				}
			}
			@if $h5 {
				&.button--h5 {
					padding: rhythm(0 '#{$height__button-h5 / $padding-mod-rounded}:-#{$border-width__button}');
				}
			}
			@if $h6 {
				&.button--h6 {
					padding: rhythm(0 '#{$height__button-h6 / $padding-mod-rounded}:-#{$border-width__button}');
				}
			}
			@if $small {
				&.button--small {
					padding: rhythm(0 '#{$height__button-small / $padding-mod-rounded}:-#{$border-width__button}');
				}
			}
			@if $xsmall {
				&.button--xsmall {
					padding: rhythm(0 '#{$height__button-xsmall / $padding-mod-rounded}:-#{$border-width__button}');
				}
			}
		}
	}
	@if $rounded-left {
		&--rounded-left {
			padding-left: rhythm('#{$height__button / $padding-mod-rounded}:-#{$border-width__button}');
			border-top-left-radius: 99em;
			border-bottom-left-radius: 99em;
			@if $h1 {
				&.button--h1 {
					padding-left: rhythm('#{$height__button-h1 / $padding-mod-rounded}:-#{$border-width__button}');
				}
			}
			@if $h2 {
				&.button--h2 {
					padding-left: rhythm('#{$height__button-h2 / $padding-mod-rounded}:-#{$border-width__button}');
				}
			}
			@if $h3 {
				&.button--h3 {
					padding-left: rhythm('#{$height__button-h3 / $padding-mod-rounded}:-#{$border-width__button}');
				}
			}
			@if $h4 {
				&.button--h4 {
					padding-left: rhythm('#{$height__button-h4 / $padding-mod-rounded}:-#{$border-width__button}');
				}
			}
			@if $h5 {
				&.button--h5 {
					padding-left: rhythm('#{$height__button-h5 / $padding-mod-rounded}:-#{$border-width__button}');
				}
			}
			@if $h6 {
				&.button--h6 {
					padding-left: rhythm('#{$height__button-h6 / $padding-mod-rounded}:-#{$border-width__button}');
				}
			}
			@if $small {
				&.button--small {
					padding-left: rhythm('#{$height__button-small / $padding-mod-rounded}:-#{$border-width__button}');
				}
			}
			@if $xsmall {
				&.button--xsmall {
					padding-left: rhythm('#{$height__button-xsmall / $padding-mod-rounded}:-#{$border-width__button}');
				}
			}
		}
	}
	@if $rounded-right {
		&--rounded-right {
			padding-right: rhythm('#{$height__button / $padding-mod-rounded}:-#{$border-width__button}');
			border-top-right-radius: 99em;
			border-bottom-right-radius: 99em;
			@if $h1 {
				&.button--h1 {
					padding-right: rhythm('#{$height__button-h1 / $padding-mod-rounded}:-#{$border-width__button}');
				}
			}
			@if $h2 {
				&.button--h2 {
					padding-right: rhythm('#{$height__button-h2 / $padding-mod-rounded}:-#{$border-width__button}');
				}
			}
			@if $h3 {
				&.button--h3 {
					padding-right: rhythm('#{$height__button-h3 / $padding-mod-rounded}:-#{$border-width__button}');
				}
			}
			@if $h4 {
				&.button--h4 {
					padding-right: rhythm('#{$height__button-h4 / $padding-mod-rounded}:-#{$border-width__button}');
				}
			}
			@if $h5 {
				&.button--h5 {
					padding-right: rhythm('#{$height__button-h5 / $padding-mod-rounded}:-#{$border-width__button}');
				}
			}
			@if $h6 {
				&.button--h6 {
					padding-right: rhythm('#{$height__button-h6 / $padding-mod-rounded}:-#{$border-width__button}');
				}
			}
			@if $small {
				&.button--small {
					padding-right: rhythm('#{$height__button-small / $padding-mod-rounded}:-#{$border-width__button}');
				}
			}
			@if $xsmall {
				&.button--xsmall {
					padding-right: rhythm('#{$height__button-xsmall / $padding-mod-rounded}:-#{$border-width__button}');
				}
			}
		}
	}
	@if $rounded-circle or $square {
		$selector: '&--rounded-circle';
		@if $rounded-circle && $square {
			$selector: '&--rounded-circle, &--square';
		} @elseif $square {
			$selector: '&--square';
		}
		#{$selector} {
			width: rhythm($height__button);
			padding: 0;
			@if $h1 {
				&.button--h1 {
					width: rhythm($height__button-h1);
				}
			}
			@if $h2 {
				&.button--h2 {
					width: rhythm($height__button-h2);
				}
			}
			@if $h3 {
				&.button--h3 {
					width: rhythm($height__button-h3);
				}
			}
			@if $h4 {
				&.button--h4 {
					width: rhythm($height__button-h4);
				}
			}
			@if $h5 {
				&.button--h5 {
					width: rhythm($height__button-h5);
				}
			}
			@if $h6 {
				&.button--h6 {
					width: rhythm($height__button-h6);
				}
			}
			@if $small {
				&.button--small {
					width: rhythm($height__button-small);
				}
			}
			@if $xsmall {
				&.button--xsmall {
					width: rhythm($height__button-h1);
				}
			}
		}
	}
	@if $rounded-circle {
		&--rounded-circle {
			border-radius: 50%;
		}
	}
}
.button {
	@include make-button(
		$bg: $gray__300,
		$mods: (
			'static',
			'ghost1',
			'block',
			'h1',
			'h2',
			'h3',
			'h4',
			'h5',
			'h6',
			'small',
			'xsmall',
			'rounded',
			'rounded-left',
			'rounded-right',
			'rounded-circle',
			'square'
		)
	);
	cursor: pointer;
	$mods: ('static', 'ghost1');
	&--accent {
		@include button-variant($bg: $color__accent, $text: $color__accent-text, $mods: $mods);
	}
	&--info {
		@include button-variant($bg: $color__info, $text: $color__info-text, $mods: $mods);
	}
	&--success {
		@include button-variant($bg: $color__success, $text: $color__success-text, $mods: $mods);
	}
	&--warning {
		@include button-variant($bg: $color__warning, $text: $color__warning-text, $mods: $mods);
	}
	&--danger {
		@include button-variant($bg: $color__danger, $text: $color__danger-text, $mods: $mods);
	}
	&--text-primary {
		@include button-variant($bg: $color__text-primary, $mods: $mods);
	}
	&--text-secondary {
		@include button-variant($bg: $color__text-secondary, $bg-hover: $color__text-primary, $mods: $mods);
	}
	&--text-primary-dark {
		@include button-variant($bg: $color__text-primary--dark, $mods: $mods);
	}
	&--text-secondary-dark {
		@include button-variant($bg: $color__text-secondary--dark, $bg-hover: $color__text-primary--dark, $mods: $mods);
	}
	&--link {
		@include button-variant($bg: transparent, $text: $color__link);
	}
}

/*
## Comments
*/
.comments-area {
	width: 100%;
	// max-width: calc(100% - #{rhythm(4)});
	margin-right: auto;
	margin-left: auto;
	padding-top: rhythm(2);
	border-top: $border-width__dividers solid $color__dividers;
	&__title {
		margin-bottom: rhythm(1);
		font-size: inherit;
		line-height: inherit;
	}
}
.comments-list {
	margin: rhythm(0 0 2);
	padding: 0;
	list-style: none;
	&:last-child {
		margin-bottom: 0;
	}
	&__children {
		padding: rhythm(1 0 0 3);
		list-style: none;
	}
	&__item {
		margin-bottom: rhythm(1);
		&:last-child {
			margin-bottom: 0;
		}
	}
}
.comment {
	position: relative;
	padding-left: rhythm(3);
	&:last-child {
		margin-bottom: 0;
	}
	&__header {
		@include clearfix;
	}
	&__author {
		float: left;
		&-image-tag {
			position: absolute;
			top: 0;
			left: 0;
			width: rhythm(2);
			height: rhythm(2);
			float: left;
			border-radius: rhythm(2);
		}
		&-name {
			color: $color__text-primary;
			font-weight: $font-weight__bold;
			&-link {
				color: inherit;
				font-weight: inherit;
			}
		}
	}
	&__datetime-link {
		margin-left: rhythm(0.5);
		float: left;
		color: $color__text-hint;
		font-weight: $font-weight__base;
	}
	&__edit {
		margin-left: rhythm(0.5);
		float: left;
		&-link {
			color: $color__text-hint;
			font-weight: $font-weight__base;
		}
	}
	&__awaiting-moderation {
		margin: 0;
		clear: left;
		color: $color__warning;
	}
	&__content {
		margin: rhythm(0 0 0.5);
	}
	&__footer {
		@include clearfix;
		padding-bottom: rhythm(0.5);
		border-bottom: $border-width__dividers solid $color__dividers;
	}
	&__reply {
		float: left;
		&-link {
			color: $color__text-hint;
			font-weight: $font-weight__base;
		}
	}
	&--depth-2 {
		padding-bottom: rhythm(0.5);
		border-bottom: $border-width__dividers solid $color__dividers;
	}
}
.comments-respond {
	$b: &;
	&__title {
		margin-bottom: rhythm(0.5);
		font-size: inherit;
		line-height: inherit;
		a {
			color: $color__text-primary;
		}
		small {
			float: right;
			font-size: inherit;
			line-height: inherit;
			a {
				border-bottom: none;
				color: $color__danger;
			}
		}
	}
	// &__form {}
	&__logged-in-as {
		@include clearfix;
		margin: 0;
		padding: rhythm(0 0.5);
		background-color: $color__dividers;
		font-size: inherit;
		line-height: rhythm(1.5);
	}
	&__logged-in-as-link, &__logged-out-link {
		color: $color__text-primary;
	}
	&__logged-out-link {
		float: right;
	}
	&__comment {
		margin-bottom: rhythm(1);
		&-label {
			color: $color__text-hint;
		}
		&-input {
			display: block;
			width: 100%;
			height: rhythm(7.5);
			@include placeholder(transparent);
		}
	}
	&__submit {
		clear: left;
	}
	&__fields {
		margin-bottom: rhythm(1);
		@include from-tablet {
			display: flex;
			margin-right: rhythm(-0.5);
			margin-left: rhythm(-0.5);
		}
	}
	&__field {
		display: block;
		width: 100%;
		margin-bottom: rhythm(1);
		@include from-tablet {
			margin-bottom: 0;
			padding: rhythm(0 0.5);
		}
		&-label {
			color: $color__text-hint;
		}
		&-input {
			width: 100%;
			@include placeholder(transparent);
		}
	}
	&--hide-labels {
		#{$b}__comment-label, #{$b}__field-label {
			@include sr-only;
		}
		#{$b}__comment-input, #{$b}__field-input {
			@include placeholder($color__text-hint);
		}
	}
}

/*
## Contact
*/

/*
## Footer
*/
.footer {
	&--narrow {
		width: 100%;
		margin-right: auto;
		margin-left: auto;
		@include media-query($from: wrapper-width(large, large)) {
			min-width: wrapper-width(large, large, $offset: 6);
			max-width: 85%;
		}
	}
	&__inner {
		@include make-wrapper(large, $modifiers: (small, medium, full));
	}
	&__columns-container {
		display: flex;
		flex-wrap: wrap;
		margin: rhythm(0 -1);
		padding: rhythm(2 0);
		@include until-tablet {
			padding-top: rhythm(1);
			padding-bottom: rhythm(1);
		}
	}
	&__column {
		width: percentage(1 / 3);
		padding: rhythm(0 1);
		@include grid-widths;
		@include until-tablet {
			width: 100%;
		}
	}
	&__info {
		display: none;
		padding: rhythm(1 0);
		border-top: 2px solid $color__dividers--dark;
		text-align: center;
		a {
			color: $color__text-secondary--dark;
		}
	}
}

/*
## Forms
*/

/*
## Header
*/
.header {
	$b: &;
	position: relative;
	z-index: 1000; // Display over hero
	@include make-wrapper(large, $modifiers: (small, medium, full));
	&__search {
		$b: &;
		&-form {
			display: flex;
			width: 100%;
			height: rhythm(1.5);
			@include transition('width, border');
			border-bottom: $border-width__input solid $color__text-secondary;
			line-height: rhythm(1.5);
			&-label {
				flex: 1;
			}
			&-input {
				width: 100%;
				height: rhythm(1.5);
				padding: 0;
				border: none;
				background-color: transparent;
				color: $color__text-primary;
				line-height: rhythm(1.5);
				vertical-align: top;
				@include placeholder {
					color: $color__text-secondary;
				}
			}
			&-submit {
				height: rhythm(1.5);
				padding: 0 0 0 0.5em;
				border: none;
				background-color: transparent;
				color: $color__text-secondary;
				line-height: rhythm(1.5);
				text-align: right;
				vertical-align: top;
				&:focus, &:hover, &:active {
					background-color: transparent;
				}
			}
		}
		&--hover {
			#{$b}-form {
				border-bottom-color: $color__text-primary;
				&-input {
					@include placeholder {
						color: $color__text-primary;
					}
				}
				&-submit {
					color: $color__text-primary;
				}
			}
		}
		&--focus {
			#{$b}-form {
				&-input {
					@include placeholder {
						color: $color__text-hint;
					}
				}
			}
		}
		&--focus, &--has-value {
			#{$b}-form {
				border-bottom-color: $color__text-primary;
				&-submit {
					color: $color__text-primary;
				}
			}
		}
		.text-colors-light & {
			&-form {
				border-bottom-color: $color__text-secondary--dark;
				&-input {
					color: $color__text-primary--dark;
					@include placeholder {
						color: $color__text-secondary--dark;
					}
				}
				&-submit {
					color: $color__text-secondary--dark;
				}
			}
			&--hover {
				#{$b}-form {
					border-bottom-color: $color__text-primary--dark;
					&-input {
						@include placeholder {
							color: $color__text-primary--dark;
						}
					}
					&-submit {
						color: $color__text-primary--dark;
					}
				}
			}
			&--focus {
				#{$b}-form {
					&-input {
						@include placeholder {
							color: $color__text-hint--dark;
						}
					}
				}
			}
			&--focus, &--has-value {
				#{$b}-form {
					border-bottom-color: $color__text-primary--dark;
					&-submit {
						color: $color__text-primary--dark;
					}
				}
			}
		}
	}
	&__branding {
		&-title {
			margin: 0;
			color: $color__text-primary;
			font-family: $font-family__brandig;
			font-weight: $font-weight__brandig;
			&-link {
				color: inherit;
				font-family: inherit;
				font-weight: inherit;
			}
		}
		&-tagline {
			margin: 0;
			color: $color__text-hint;
		}
		.text-colors-light & {
			&-title {
				color: $color__text-primary--dark;
				&-link {
					color: inherit;
				}
			}
			&-tagline {
				color: $color__text-hint--dark;
			}
		}
	}
	@include from-tablet {
		padding-top: rhythm(1);
		padding-bottom: rhythm(0.5);
		&__top {
			@include clearfix;
			&-group-1 {
				float: left;
			}
			&-group-2 {
				float: right;
				@include clearfix;
			}
		}
		&__nav {
			@include clearfix;
			&-group-1 {
				float: left;
			}
			&-group-2 {
				float: right;
			}
		}
		&__toggle {
			display: none;
		}
		&__branding {
			@include clearfix;
			&-title {
				float: left;
				@include font-size(3, 1.5);
			}
			&-tagline {
				margin-left: rhythm(1);
				float: left;
				@include font-size(0, 1.5);
			}
		}
		&__search {
			$b: &;
			margin-right: rhythm(1);
			float: left;
			&:last-child {
				margin-right: 0;
			}
			&-form {
				width: rhythm(7.5);
				body.layout-large & {
					width: rhythm(9);
				}
			}
			&--focus, &--has-value {
				#{$b}-form {
					width: rhythm(9);
					body.layout-large & {
						width: rhythm(10.5);
					}
				}
			}
		}
		&__social {
			margin-right: rhythm(1);
			float: left;
			&:last-child {
				margin-right: 0;
			}
			&-heading {
				display: none;
			}
			&-links {
				margin: 0;
				padding: 0;
				list-style: none;
				@include clearfix;
				&-item {
					float: left;
				}
				&-link {
					display: inline-block;
					height: rhythm(1.5);
					padding: rhythm(0 1.5/4);
					color: $color__text-secondary;
					line-height: rhythm(1.5);
					text-align: center;
					&:focus, &:hover, &:active {
						color: $color__text-primary;
					}
				}
				&-item:first-of-type &-link {
					padding-left: 0;
				}
				&-item:last-of-type &-link {
					padding-right: 0;
				}
			}
			.text-colors-light & {
				&-links {
					&-link {
						color: $color__text-secondary--dark;
						&:focus, &:hover, &:active {
							color: $color__text-primary--dark;
						}
					}
				}
			}
		}
		&__primary-menu {
			margin-right: rhythm(1);
			float: left;
			&:last-child {
				margin-right: 0;
			}
		}
		&__secondary-menu {
			margin-right: rhythm(1);
			float: left;
			&:last-child {
				margin-right: 0;
			}
		}
		&__menu {
			$b: &;
			margin: 0;
			padding: 0;
			list-style: none;
			@include clearfix;
			&-item {
				position: relative;
				float: left;
				white-space: nowrap;
				&:first-of-type > #{$b}-link {
					padding-left: 0;
				}
				&:last-of-type > #{$b}-link {
					padding-right: 0;
				}
				&--has-children > #{$b}-link {
					&::after {
						@include material-icons;
						content: '\00a0\e313';
					}
				}
			}
			&-link {
				display: inline-block;
				padding: rhythm(0 0.5);
				color: $color__text-primary;
				@include font-size(0, 2);
			}
			&-toggle {
				display: none;
			}
			&-sub {
				display: block;
				position: absolute;
				top: 100%;
				left: rhythm(0.5);
				min-width: rhythm(5);
				margin: 0;
				padding: rhythm(0.5 0);
				@include transition('opacity, visibility');
				background-color: $gray__50;
				list-style: none;
				@include z-depth(4);
				opacity: 0;
				visibility: hidden;
				&::before {
					position: absolute;
					bottom: 100%;
					left: rhythm(0.5);
					width: 0;
					border-width: rhythm(0 0.25 0.25);
					border-style: solid;
					border-color: transparent transparent $gray__50;
					content: '';
				}
				&-item {
					position: relative;
					white-space: nowrap;
					&:hover > #{$b}-sub-link {
						background-color: $alpha-black__100;
					}
					&--has-children > #{$b}-sub-link {
						position: relative;
						padding-right: rhythm(2);
						&::after {
							@include material-icons;
							position: absolute;
							right: rhythm(0.5);
							content: '\e315';
						}
					}
				}
				&-link {
					display: block;
					padding: rhythm(0 1);
					background-color: transparent;
					color: $color__text-primary;
					@include font-size(0, 1.5);
					font-weight: $font-weight__base;
					&:focus, &:hover, &:active {
						background-color: $alpha-black__100;
					}
				}
				#{$b}-sub {
					top: rhythm(-0.5);
					left: 100%;
					&::before {
						display: none;
					}
				}
			}
			&-item, &-sub-item {
				&--focus, &:hover {
					> #{$b}-sub {
						opacity: 1;
						visibility: visible;
					}
				}
			}
			&--right {
				#{$b}-sub {
					right: rhythm(0.5);
					left: auto;
					&::before {
						right: rhythm(1);
						left: auto;
					}
					#{$b}-sub {
						right: 100%;
						left: auto;
					}
				}
			}
			&--secondary {
				#{$b}-link {
					color: $color__text-secondary;
					&:focus, &:hover, &:active {
						color: $color__text-primary;
					}
				}
				#{$b}-item:hover > #{$b}-link {
					color: $color__text-primary;
				}
			}
			.text-colors-light & {
				&-link {
					color: $color__text-primary--dark;
				}
				&--secondary {
					#{$b}-link {
						color: $color__text-secondary--dark;
						&:focus, &:hover, &:active {
							color: $color__text-primary--dark;
						}
					}
					#{$b}-item:hover > #{$b}-link {
						color: $color__text-primary--dark;
					}
				}
			}
		}
	}
	@include until-tablet {
		$mobile__menu-item-height: 2.5;
		&__top {
			position: relative;
			padding: rhythm(1) 0;
			z-index: 300;
			&-group-1 {
				display: flex;
			}
		}
		&__toggle {
			flex-shrink: 0;
			width: rhythm(3);
			height: rhythm(3);
			border: none;
			background-color: transparent;
			color: $color__text-primary;
			@include font-size(2, '3:-#{$border-width__button*2}');
			&:focus, &:hover, &:active {
				background-color: transparent;
			}
			.text-colors-light & {
				color: $color__text-primary--dark;
			}
		}
		&__branding {
			flex-grow: 1;
			max-width: calc(100% - #{rhythm(6)});
			text-align: center;
			&:first-child {
				text-align: left;
			}
			&:last-child {
				text-align: right;
			}
			&-title {
				@include font-size(4, 2);
				&:only-child {
					line-height: rhythm(3);
				}
			}
		}
		&__nav {
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			transform: translate(0, -100%);
			@include transition(
				'transform',
				$delay: $transition__duration / 2
			);
			background-color: #FFF;
			z-index: 100;
			.text-colors-light & {
				background-color: #000;
			}
			&-group-1, &-group-2 {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				margin: rhythm(5 3 3);
				transform: translate(0, rhythm(-$mobile__menu-item-height));
				@include transition(
					'transform, opacity, visibility',
					$delay: 0s
				);
				opacity: 0;
				visibility: hidden;
				z-index: 200;
				overflow-x: hidden;
				overflow-y: auto;
				@include hide-scrollbar;
				body.with-header-tagline & {
					margin-top: rhythm(6);
				}
			}

			&--show-group-1, &--show-group-2 {
				transform: translate(0, 0);
				@include transition(
					'transform',
					$delay: 0s
				);
			}

			&--show-group-1 &-group-1 {
				transform: translate(0, 0);
				@include transition(
					'transform, opacity, visibility',
					$delay: $transition__duration / 2
				);
				opacity: 1;
				visibility: visible;
			}
			&--show-group-2 &-group-2 {
				transform: translate(0, 0);
				@include transition(
					'transform, opacity, visibility',
					$delay: $transition__duration / 2
				);
				opacity: 1;
				visibility: visible;
			}
		}
		&__primary-menu {
			display: block;
		}
		&__secondary-menu {
			display: block;
		}
		&__social {
			margin-top: rhythm(1);
			&-heading {
				display: block;
				margin: 0;
				color: $color__text-secondary;
				@include font-size(1, $mobile__menu-item-height);
				font-weight: $font-weight__bold;
			}
			&-links {
				display: flex;
				width: 100%;
				padding: 0;
				list-style: none;
				&-item {
					width: 100%;
					// display: inline-block;
				}
				&-link {
					display: inline-block;
					width: 100%;
					border-bottom: 2px solid currentColor;
					color: $color__text-secondary;
					@include font-size(1, $mobile__menu-item-height);
					text-align: center;
					&:focus, &:hover, &:active {
						color: $color__text-primary;
					}
				}
			}
			.text-colors-light & {
				&-heading {
					color: $color__text-secondary--dark;
				}
				&-links {
					&-link {
						color: $color__text-secondary--dark;
						&:focus, &:hover, &:active {
							color: $color__text-primary--dark;
						}
					}
				}
			}
		}
		&__search {
			$b: &;
			&-form {
				height: rhythm($mobile__menu-item-height);
				line-height: rhythm($mobile__menu-item-height);
				&-input {
					height: rhythm($mobile__menu-item-height);
					@include font-size(1, $mobile__menu-item-height);
				}
				&-submit {
					height: rhythm($mobile__menu-item-height);
					@include font-size(1, $mobile__menu-item-height);
				}
			}
		}
		&__menu {
			$b: &;
			display: block;
			padding: 0;
			list-style: none;
			&-item, &-sub-item {
				position: relative;
			}
			&-link, &-sub-link {
				display: block;
				border-bottom: 2px solid $alpha-black__100;
				color: $color__text-primary;
				@include font-size(1, '#{$mobile__menu-item-height}:-2px');
				font-weight: $font-weight__base;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
			}
			&-toggle {
				position: absolute;
				top: 0;
				right: 0;
				width: rhythm($mobile__menu-item-height);
				height: rhythm($mobile__menu-item-height);
				border: none;
				background-color: transparent;
				color: $color__text-primary;
				@include font-size(1, false);
				text-align: center;
				cursor: pointer;
				&::after {
					position: absolute;
					top: 50%;
					right: 0;
					transform: translateY(-50%);
					@include material-icons(
						$vertical-align: middle
					);
					content: '\e5CF';
				}
				&:focus, &:hover, &:active {
					background-color: transparent;
				}
			}
			&-sub {
				display: none;
				padding: 0;
				list-style: none;
				#{$b}-sub &-link {
					padding-left: rhythm(1.5);
				}
				#{$b}-sub #{$b}-sub &-link {
					padding-left: rhythm(3);
				}
				#{$b}-sub #{$b}-sub #{$b}-sub &-link {
					padding-left: rhythm(4.5);
				}
				#{$b}-sub #{$b}-sub #{$b}-sub #{$b}-sub &-link {
					padding-left: rhythm(6);
				}
				#{$b}-sub #{$b}-sub #{$b}-sub #{$b}-sub #{$b}-sub &-link {
					padding-left: rhythm(7.5);
				}
			}
			.text-colors-light & {
				&-link, &-sub-link {
					border-bottom: 2px solid $color__dividers--dark;
					color: $color__text-primary--dark;
				}
				&-toggle {
					color: $color__text-primary--dark;
				}
			}
		}
	}
}

/*
## Headings
*/

/*
## Hero
*/
.hero {
	$b: &;
	position: relative;
	top: rhythm(-5);
	min-height: rhythm(9);
	margin-bottom: rhythm(-9);
	overflow: hidden;
	z-index: 800;
	body.header-width-narrow & {
		width: 100%;
		margin-right: auto;
		margin-left: auto;
		@include media-query($from: wrapper-width(large, large)) {
			min-width: wrapper-width(large, large, $offset: 6);
			max-width: 85%;
		}
	}
	&__bg {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: $color__bg--dark;
		&-image {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			max-width: 100%;
			min-height: 100%;
			padding-left: 100%;
			background-color: inherit;
			background-position: 50% 50%;
			background-size: cover;
			opacity: $opacity__hero-image;
			object-fit: scale-down;
			object-position: 200% 200%;
		}
	}
	&__intro {
		// position: relative;
		// right: 0;
		// left: 0;
		max-width: wrapper-width($padding: 0) / 2;
		// max-width: 100%;
		margin-top: rhythm(3);
		margin-bottom: rhythm(4);
		color: $color__text-primary--dark;
		// @include make-wrapper(medium, null, null);
		a {
			color: $color__text-primary--dark;
		}
		&-title {
			// width: wrapper-width($padding: 0) / 2;
			// max-width: 100%;
			margin-bottom: rhythm(1);
			@include font-size(5);
			&-text {
				position: relative;
				&::before {
					display: block;
					position: absolute;
					top: rhythm(-0.5);
					right: 0;
					width: 100vw;
					height: rhythm(0.2);
					background-color: currentColor;
					content: '';
				}
			}
		}
		&-copy {
			position: relative;
			// width: wrapper-width($padding: 0) / 2;
			// max-width: 100%;
			margin-bottom: rhythm(1);
			@include font-size(1, base);
			font-weight: $font-weight__base;
			&::before {
				display: block;
				position: absolute;
				top: rhythm(-0.75);
				left: 0;
				width: 100%;
				height: rhythm(0.2);
				background-color: currentColor;
				content: '';
			}
			&::after {
				display: block;
				position: absolute;
				bottom: rhythm(-0.75);
				left: 0;
				width: 100vw;
				height: rhythm(0.2);
				background-color: currentColor;
				content: '';
			}
		}
		@include until-tablet {
			margin-top: rhythm(1);
			margin-bottom: rhythm(2);
		}
	}
	&__slide {
		$e: &;
		display: flex;
		position: relative;
		align-items: center;
		justify-content: center;
		height: 100%;
		background-color: #000;
		color: $color__text-primary;
		overflow: hidden;
		z-index: 0;
		&-cover-img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			padding-left: 100%;
			background-color: inherit;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			opacity: 0.54;
			z-index: -1;
			@include transition('opacity');
			.slick-current & {
				opacity: 0.74;
			}
		}
		&-content {
			width: wrapper-width($padding: 0) / 1.5;
			max-width: 85%;
			padding-bottom: rhythm(1);
			text-align: center;
		}
		&-title {
			position: relative;
			margin-bottom: rhythm(1);
			padding-bottom: rhythm(1);
			color: $color__text-primary--dark;
			@include font-size(4.5);
			font-family: $font-family--title;
			font-weight: $font-weight--title;
			&-link {
				color: inherit;
				font-weight: inherit;
			}
			&::after {
				position: absolute;
				bottom: 0;
				left: 50%;
				width: rhythm(3);
				max-width: 100%;
				transform: translateX(-50%);
				border-bottom: 4px solid currentColor;
				content: '';
			}
		}
		&-metadata {
			margin-bottom: rhythm(1);
			color: $color__text-primary--dark;
			font-weight: $font-weight__bold;
			> * {
				&::after {
					content: '\00a0/\00a0';
				}
				&:last-child {
					&::after {
						content: '';
					}
				}
			}
		}
		&-datetime {
			&-link {
				color: inherit;
				font-weight: inherit;
			}
		}
		&-category {
			&-link {
				color: inherit;
				font-weight: inherit;
			}
		}
	}
	&--height-half {
		#{$b}__bg {
			bottom: auto;
			height: rhythm(9);
		}
	}
	&--intro {
		#{$b}__inner {
			padding-top: rhythm(5);
			padding-bottom: rhythm(5);
			@include make-wrapper;
			@include until-tablet {
				padding-top: rhythm(2);
				padding-bottom: rhythm(2);
			}
		}
	}
	&--slider {
		#{$b}__inner {
			height: 2160px;
			max-height: 85vh;
			padding-top: rhythm(5);
			padding-bottom: rhythm(5);
			@include until-tablet((orientation: landscape)) {
				min-height: 85vw;
			}
			@include until-tablet((orientation: portrait)) {
				max-height: calc(100vh / 100vw);
			}
		}
	}
	&--slider-single-item {
		#{$b}__inner {
			@include make-wrapper;
		}
	}
	&--slider-multiple-items {
		#{$b}__inner {
			@include until-tablet {
				padding-right: rhythm(1);
				padding-left: rhythm(1);
			}
		}
	}
	&--slider-full {
		#{$b}__inner {
			padding-top: 0;
			padding-bottom: 0;
		}
	}
	&--slider-almost-full {
		#{$b}__inner {
			padding-bottom: 0;
		}
	}
	&--slider-multiple-items {
		#{$b}__slide {
			width: 75vw;
			@include make-wrapper($wrapper: medium, $padding: null, $margin: 0.5);
			@include until-tablet {
				width: 100%;
				margin-right: 0;
				margin-left: 0;
			}
		}
	}
}

/*
## Main content
*/
.main {
	position: relative;
	z-index: 900;
	@include make-wrapper;
}
.section {
	$b: &;
	min-height: rhythm(20);
	margin-bottom: rhythm(1);
	padding: rhythm(2);
	background-color: #FFFFFF;
	@include clearfix;
	&__header {
		margin-top: rhythm(-0.5);
		margin-bottom: rhythm(1.5);
		text-align: center;
		&-title {
			margin: 0;
			font-family: $font-family__title;
			font-weight: $font-weight__title;
			@include font-size(2);
			&-text {
				display: inline-block;
				border-bottom: 4px solid currentColor;
			}
		}
		&-sub-title {
			margin-top: rhythm(0.25);
		}
		&-entry-title {
			@include make-wrapper(-3.25, null);
			margin-bottom: rhythm(2);
			font-family: $font-family__title;
			font-weight: $font-weight__title;
			@include font-size(3.5);
			text-align: center;
			&:last-child {
				margin-bottom: 0;
			}
			&-text {
				display: inline-block;
				position: relative;
				padding-bottom: rhythm(1);
				&::after {
					position: absolute;
					bottom: 0;
					left: 50%;
					width: rhythm(3);
					max-width: 100%;
					transform: translateX(-50%);
					border-bottom: rhythm('0:4px') solid currentColor;
					content: '';
				}
			}
			&--align-left {
				text-align: left;
				#{$b}__title-text {
					&::after {
						left: 0;
						transform: translateX(0);
					}
				}
			}
			&--align-right {
				text-align: right;
				#{$b}__title-text {
					&::after {
						right: 0;
						left: auto;
						transform: translateX(0);
					}
				}
			}
		}
	}
	&__content {
		@include clearfix;
	}
	&__primary-area {
		width: percentage(3 / 4);
		padding-right: rhythm(0.75);
		float: left;
		&:only-child {
			width: 100%;
			padding-right: 0;
			float: none;
		}
	}
	&__secondary-area {
		width: percentage(1 / 4);
		padding-left: rhythm(0.75);
		float: right;
	}
	&--sidebar-one-third {
		#{$b}__primary-area {
			width: percentage(2 / 3);
		}
		#{$b}__secondary-area {
			width: percentage(1 / 3);
		}
	}
	&--sidebar-one-fourth {
		#{$b}__primary-area {
			width: percentage(3 / 4);
		}
		#{$b}__secondary-area {
			width: percentage(1 / 4);
		}
	}
	&--sidebar-one-fifth {
		#{$b}__primary-area {
			width: percentage(4 / 5);
		}
		#{$b}__secondary-area {
			width: percentage(1 / 5);
		}
	}
	&--sidebar-one-sixth {
		#{$b}__primary-area {
			width: percentage(5 / 6);
		}
		#{$b}__secondary-area {
			width: percentage(1 / 6);
		}
	}
	@include until-tablet {
		padding: rhythm(1);
		&__header {
			margin-top: 0;
			margin-bottom: rhythm(1);
		}
		&__primary-area, &__secondary-area {
			width: 100%;
			margin-bottom: rhythm(1);
			padding: 0;
			float: none;
			&:last-child {
				margin-bottom: 0;
			}
		}
		&--sidebar-one-third, &--sidebar-one-fourth, &--sidebar-one-fifth, &--sidebar-one-sixth {
			#{$b}__primary-area, #{$b}__secondary-area {
				width: 100%;
			}
		}
	}
}

/*
## Newsletter
*/

/*
## Page Title
*/

/*
## Pagination
*/
.pagination {
	display: flex;
	justify-content: space-between;
	text-align: center;
	.nav-links {
		display: flex;
		justify-content: center;
		width: 100%;
	}
	.page-numbers {
		display: inline-block;
		color: $color__text-primary;
		@include font-size(0, $height__button);
		font-weight: $font-weight__bold;
		&:not(.prev):not(.next) {
			width: rhythm($height__button);
			height: rhythm($height__button);
			margin-right: rhythm(0.125);
			margin-left: rhythm(0.125);
			padding: 0;
			&:first-child {
				margin-left: 0;
			}
			&:last-child {
				margin-right: 0;
			}
		}
		&.current {
			border-radius: 100%;
			background-color: $color__bg--dark;
			color: $color__text-primary--dark;
		}
		&.prev {
			margin-right: rhythm($height__button);
		}
		&.next {
			margin-left: rhythm($height__button);
		}
		&.dots {
			display: none;
		}
	}
	// &__prev {}
	// &__next {}
	&__index {
		font-weight: $font-weight__bold;
		line-height: rhythm($height__button);
	}
}

/*
## Post teaser
*/

/*
## Search
*/
.search-form {
	$b: &;
	display: flex;
	&__label {
		flex-grow: 1;
	}
	&__input {
		width: 100%;
		padding: rhythm(0 0 0 1.5 / 3);
		border-right: none;
		border-radius: rhythm(1.5 0 0 1.5);
		background-color: $color__input-bg;
		color: $color__text-primary;
		vertical-align: top;
		@include placeholder {
			color: $color__text-secondary;
		}
		&:focus {
			border-color: transparent;
			@include placeholder {
				color: $color__text-hint;
			}
		}
	}
	&__submit {
		padding: rhythm(0 1.5 / 3);
		border-left: none;
		border-radius: rhythm(0 1.5 1.5 0);
		background-color: $color__input-bg;
		color: $color__text-secondary;
		vertical-align: top;
		&:focus, &:hover, &:active {
			border-color: transparent;
			background-color: $color__input-bg;
			color: $color__text-primary;
		}
	}
	&--focus {
		#{$b}__input {
			border-color: $color__accent;
			@include placeholder {
				color: $color__text-hint;
			}
		}
		#{$b}__submit {
			border-color: $color__accent;
			color: $color__text-primary;
		}
	}
	&--has-value {
		#{$b}__submit {
			color: $color__text-primary;
		}
	}
}

/*
## Share buttons
*/

/*
## Slider
*/
// sass-lint:disable no-vendor-prefixes
.slick-slider {
	display: block;
	position: relative;
	box-sizing: border-box;
	-webkit-touch-callout: none;
	user-select: none;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
	.slick-list {
		display: block;
		position: relative;
		margin: 0;
		padding: 0;
		overflow: hidden;
		&:focus {
			outline: none;
		}
		&.dragging {
			cursor: pointer;
			cursor: hand;
		}
	}
	.slick-track,
	.slick-list {
		transform: translate3d(0, 0, 0);
	}
	.slick-track {
		display: block;
		position: relative;
		top: 0;
		left: 0;
		margin-right: auto;
		margin-left: auto;
		&::before, &::after {
			display: table;
			content: '';
		}
		&::after {
			clear: both;
		}
	}
	&.slick-loading .slick-track {
		visibility: hidden;
	}
	.slick-slide {
		display: none;
		height: 100%;
		min-height: 1px;
		float: left;
		[dir='rtl'] & {
			float: right;
		}
		img {
			display: block;
		}
		&.dragging img {
			pointer-events: none;
		}
	}
	&.slick-loading img {
		display: none;
	}
	&.slick-initialized .slick-slide {
		display: block;
	}
	&.slick-loading .slick-slide {
		visibility: hidden;
	}
	.slick-vertical .slick-slide {
		display: block;
		height: auto;
		border: 1px solid transparent;
	}
	.slick-arrow.slick-hidden {
		display: none;
	}
}
.slick-slider {
	height: 100%;
	.slick-list {
		height: 100%;
	}
	.slick-track {
		height: 100%;
	}
	.slick-loading .slick-list  {
		background: #FFFFFF url('./assets/img/ajax-loader.gif') center center no-repeat;
	}
	.slick-slide {
		outline: none;
		overflow: hidden;
	}
	.slick-prev, .slick-next {
		position: absolute;
		top: 50%;
		height: 100%;
		padding: rhythm(0 1);
		transform: translateY(-50%);
		@include transition('opacity, visibility');
		border: none;
		background-color: transparent;
		color: transparent;
		font-size: 0;
		line-height: 0;
		opacity: 1;
		visibility: visible;
		z-index: 1;
		&::before {
			@include transition('color');
			color: $color__text-secondary--dark;
			@include material-icons;
			@include font-size(2);
		}
		&:focus, &:hover, &:active {
			background-color: transparent;
			&::before {
				color: $color__text-primary--dark;
			}
		}
		&.slick-disabled {
			opacity: 0;
			visibility: hidden;
		}
	}
	.slick-prev {
		left: 0;
		[dir='rtl'] & {
			right: 0;
			left: auto;
		}
		&::before {
			content: '\e5C4';
			[dir='rtl'] & {
				content: '\e5C8';
			}
		}
	}
	.slick-next {
		right: 0;
		[dir='rtl'] & {
			right: auto;
			left: 0;
		}
		&::before {
			content: '\e5C8';
			[dir='rtl'] & {
				content: '\e5C4';
			}
		}
	}
	.slick-dots {
		display: inline-block;
		position: absolute;
		bottom: rhythm(1);
		left: 50%;
		margin: 0;
		padding: 0;
		transform: translateX(-50%);
		@include transition('opacity, visibility');
		list-style: none;
		text-align: center;
		li {
			display: inline-block;
			margin: 0;
			padding: rhythm(0 1/4.5);
			cursor: pointer;
			button {
				width: rhythm(1/3);
				height: rhythm(1/3);
				padding: 0;
				border: none;
				border-radius: 50%;
				background-color: $color__text-secondary--dark;
				color: transparent;
				font-size: 0;
				line-height: rhythm(1/3);
				&:focus, &:hover, &:active {
					background-color: $color__text-primary--dark;
				}
			}
			&:focus, &:hover, &:active {
				button {
					background-color: $color__text-primary--dark;
				}
			}
			&.slick-active button {
				background-color: $color__text-primary--dark;
			}
		}
	}
	.slick-slide-content {
		height: 100%;
	}
	&.slick-slider-with-arrows-on-slide {
		.slick-slide-content {
			cursor: pointer;
			cursor: svg-uri('<svg fill="#FFFFFF" height="36" viewBox="0 0 24 24" width="36" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"/><path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"/></svg>') 18 18, pointer;
			* {
				pointer-events: none;
			}
		}
		.slick-current .slick-slide-content {
			cursor: auto;
			* {
				pointer-events: auto;
			}
		}
		.slick-current + .slick-slide .slick-slide-content {
			cursor: svg-uri('<svg fill="#FFFFFF" height="36" viewBox="0 0 24 24" width="36" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"/></svg>') 18 18, pointer;
		}
	}
	// &.slick-slide-spacing .slick-slide-content {
	// 	margin-right: rhythm(0.5);
	// 	margin-left: rhythm(0.5);
	// }
	// &.slick-slide-spacing .slick-list {
	// 	margin-right: rhythm(-1);
	// 	margin-left: rhythm(-1);
	// 	padding-right: rhythm(0.5);
	// 	padding-left: rhythm(0.5);
	// }
}
// sass-lint:enable no-vendor-prefixes

/*
## Social media
*/

/*
## Widgets
*/
// sass-lint:disable class-name-format
.widget {
	$b: &;
	margin-bottom: rhythm(1);
	color: $color__text-secondary;
	&:last-child {
		margin-bottom: 0;
	}
	a {
		color: $color__text-primary;
	}
	p {
		margin-bottom: rhythm(0.5);
		&:last-child {
			margin-bottom: 0;
		}
	}
	select {
		width: 100%;
		text-overflow: ellipsis;
	}
	th {
		color: $color__text-primary;
		font-weight: $font-weight__base;
	}
	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
		ul {
			padding-left: rhythm(1);
		}
	}
	&-title {
		margin-bottom: rhythm(0.5);
		color: $color__text-primary;
		@include font-size(0, 1);
		a {
			color: inherit;
		}
		img {
			vertical-align: baseline;
		}
	}
	&_calendar {
		// table {
		// 	@include font-size(-1, 1);
		// }
		th, td {
			padding-right: 0;
			padding-left: 0;
			border: none;
			text-align: center;
		}
		tfoot td {
			&:first-child {
				text-align: left;
			}
			&:last-child {
				text-align: right;
			}
		}
		tbody a {
			display: inline-block;
			width: rhythm(1);
			height: rhythm(1);
			border-radius: 100%;
			background-color: $color__dividers;
			text-align: center;
		}
	}
	&_recent_entries {
		li {
			margin-bottom: rhythm(0.5);
			&:last-child {
				margin-bottom: 0;
			}
		}
		.post-date {
			display: block;
			color: $color__text-hint;
		}
	}
	&_rss {
		.widget-title {
			a {
				img {
					display: none;
				}
				&:first-child {
					display: none;
				}
				&:last-child {
					&::before {
						@include material-icons;
						color: $color__rss;
						content: '\e0E5\00a0';
						@include transition('color');
					}
				}
			}
		}
		ul .rsswidget {
			display: block;
		}
		.rss-date {
			color: $color__text-hint;
			@include font-size(-1, 1);
			&::before {
				:lang(en) & {
					content: 'Posted on\00a0';
				}
			}
		}
		// .rssSummary {}
		cite {
			color: $color__text-hint;
			@include font-size(-1, 1);
			font-style: normal;
			&::before {
				content: '\2013\00a0';
				:lang(en) & {
					content: 'by\00a0';
				}
			}
		}
		li {
			margin-bottom: rhythm(0.5);
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	&_tag_cloud {
		display: flex;
		flex-direction: column;
		a {
			display: inline-block;
			height: rhythm(1);
			margin-top: rhythm(0.25);
			margin-right: rhythm(0.25/8);
			padding: rhythm(0 1 / 2);
			border-radius: rhythm(1);
			background-color: $alpha-black__100;
			color: $color__text-secondary;
			white-space: nowrap;
			@include font-size(-1, 1, $important: true);
		}
	}
	.text-colors-light & {
		color: $color__text-hint--dark;
		a {
			color: $color__text-secondary--dark;
			&:focus, &:hover, &:active {
				color: $color__text-primary--dark;
			}
		}
		caption {
			color: $color__text-hint--dark;
		}
		th {
			color: $color__text-secondary--dark;
		}
		.widget-title {
			color: $color__text-primary--dark;
			a {
				color: inherit;
			}
		}
		&_calendar {
			tbody a {
				background-color: $color__dividers--dark;
			}
		}
		&_recent_entries {
			.post-date {
				color: $color__text-hint--dark;
			}
		}
		&_rss {
			.rss-date, cite {
				color: $color__text-hint--dark;
			}
		}
		&_search {
			.search-form {
				&__field {
					border-color: transparent;
					background-color: $gray__800;
					color: $color__text-primary--dark;
					@include placeholder {
						color: $color__text-secondary--dark;
					}
				}
				&__submit {
					background-color: $gray__800;
					color: $color__text-secondary--dark;
					&:focus, &:hover, &:active {
						color: $color__text-primary--dark;
					}
				}
			}
		}
		&_tag_cloud {
			a {
				background-color: $alpha-white__50;
				color: $color__text-secondary--dark;
				&:focus, &:hover, &:active {
					color: $color__text-secondary--dark;
				}
			}
		}
	}
}
// sass-lint:enable class-name-format

/*
## WISIWYG editor content
*/
.wysiwyg {
	// @include font-size(0.5, 1.25);
	h1, h2, h3, h4, h5, h6 {
		margin-bottom: rhythm(0.5);
		&:last-child {
			margin-bottom: 0;
		}
	}
	h1 {
		@include font-size(2.5);
	}
	h2 {
		@include font-size(2);
	}
	h3 {
		@include font-size(1.5);
	}
	h4 {
		@include font-size(1);
	}
	h5 {
		@include font-size(0.5);
	}
	h6 {
		@include font-size(0);
	}
	img {
		margin-bottom: rhythm(1);
		&:last-child {
			margin-bottom: 0;
		}
	}
	figure img {
		margin-bottom: 0;
	}
}

.alignleft {
	margin-right: 1.5em;
	float: left;
}

.alignright {
	margin-left: 1.5em;
	float: right;
}

.aligncenter {
	display: block;
	margin-right: auto;
	margin-left: auto;
	clear: both;
}

.wp-caption, .gallery-caption {
	max-width: 100%;
	margin-bottom: rhythm(1);
	&:last-child {
		margin-bottom: 0;
	}
}

.wp-caption {
	img[class*='wp-image-'] {
		display: block;
		margin-right: auto;
		margin-left: auto;
	}
	// .wp-caption-text {
	// 	margin: rhythm(0.5 0);
	// }
}
