.baseline {
	&::before {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: auto;
		height: inherit;
		background-position: left top;
		background-size: 100% rhythm(1);
		content: '';
		z-index: 99999;
		pointer-events: none;
	}
	&.baseline--full::before {
		background-image: linear-gradient(transparent 96%, magenta 96%);
	}
	&.baseline--half::before {
		background-image: linear-gradient(transparent 46%, magenta 46%, magenta 50%, transparent 50%, transparent 96%, magenta 96%);
	}
}
.dev-bar {
	position: fixed;
	right: 0;
	bottom: 0;
	font-size: 0.75em;
	line-height: 2;
	z-index: 9999999;
	.dev-option {
		display: inline-block;
		margin-right: 0.25em;
		padding: 0 1em;
		background-color: #212121;
		color: #FFFFFF;
		font-weight: 500;
		text-transform: capitalize;
	}
}
