/*
## Basic HTML
*/
body {
	background-color: $color__bg;
	color: $color__text-primary;
	font-family: $font-family__base;
	font-weight: $font-weight__base;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-family: $font-family__heading;
	font-weight: $font-weight__heading;
	text-rendering: optimizeLegibility;
	// a {
	// 	font-family: inherit;
	// 	font-weight: inherit;
	// 	text-rendering: optimizeLegibility;
	// }
}
h1 {
	@include font-size(5);
}
h2 {
	@include font-size(4);
}
h3 {
	@include font-size(3);
}
h4 {
	@include font-size(2);
}
h5 {
	@include font-size(1);
}
h6 {
	@include font-size(0);
}
p {
	margin: rhythm(0 0 1);
	&:last-child {
		margin-bottom: 0;
	}
}
hr {
	margin: rhythm(1 0 '1:-#{$border-width__dividers}' 0);
	border: none;
	border-bottom: $border-width__dividers solid $color__dividers;
}

/*
## Formatting
*/
abbr[title] {
	border-bottom: $border-width__abbr dotted currentColor;
	text-decoration: none;
	cursor: help;
}
address {
	margin: rhythm(0 0 1);
	// font-style: normal;
	&:last-child {
		margin-bottom: 0;
	}
}
b, strong {
	font-weight: $font-weight__bold;
}
blockquote {
	margin: rhythm(0 0 1);
	padding: rhythm(0 0 0 1);
	border-left: $border-width__quote solid currentColor;
	font-weight: $font-weight__quote;
	&:last-child {
		margin-bottom: 0;
	}
}
cite {
	font-style: italic;
}
code {
	@include font-size(-1, 1);
	font-family: $font-family__code;
	hyphens: none;
}
:not(pre) > code {
	padding: rhythm(1/16 1/4, em);
	border-radius: $border-radius;
	background-color: $alpha-black__100;
}
dfn, em, i {
	font-style: italic;
}
kbd {
	padding: rhythm(1/16 1/4, em);
	border-radius: $border-radius;
	background-color: $alpha-black__800;
	color: $alpha-white__600;
	font-family: $font-family__code;
	@include font-size(-1, false);
	hyphens: none;
}
mark {
	background-color: #F4FF81;
}
pre {
	margin: rhythm(0 0 1);
	padding: rhythm(1);
	border-radius: $border-radius;
	background-color: $alpha-black__100;
	font-family: $font-family__code;
	@include font-size(-1, 1);
	white-space: pre-wrap;
	overflow: auto;
	word-wrap: break-word;
	&:last-child {
		margin-bottom: 0;
	}
}
q {
	quotes: '\201C' '\201D' '\2018' '\2019'; // '“' '”' '‘' '’'
	hyphens: none;
	&:before {
		content: open-quote;
	}
	&:after {
		content: close-quote;
	}
}
samp {
	@include font-size(-1, 1);
	font-family: $font-family__code;
	hyphens: none;
}
small {
	@include font-size(-1, false, em);
}
sub {
	position: relative;
	bottom: -0.25em;
	@include font-size(-1, 0, em);
	vertical-align: baseline;
}
sup {
	position: relative;
	top: -0.5em;
	@include font-size(-1, 0, em);
	vertical-align: baseline;
}
var {
	padding: rhythm(1/16 1/4, em);
	border-radius: $border-radius;
	background-color: $alpha-black__100;
	font-family: $font-family__code;
	@include font-size(-1, false);
	font-style: normal;
	hyphens: none;
}

/*
## Forms and Input
*/
// sass-lint:disable no-vendor-prefixes
@mixin common-input-style {
	@include transition('border, background-color, color');
	border: $border-width__input solid $color__input-border;
	border-radius: $border-radius;
	outline: none;
	background-color: $color__input-bg;
	color: $color__text-primary;
	font-family: $font-family__base;
	@include font-size(0, false);
	box-shadow: none; // Remove firexox red box shadow when input is invalid.
	vertical-align: middle;
	&:focus {
		border-color: $color__accent;
	}
	&:disabled {
		background-color: $color__input-disabled-bg;
		cursor: not-allowed;
		opacity: $opacity__disabled;
	}
}
@include placeholder {
	color: $color__text-hint;
	opacity: 1;
	@include transition('color');
}
form {
	margin: rhythm(0 0 1);
	&:last-child {
		margin-bottom: 0;
	}
}
fieldset, legend {
	margin: 0;
	padding: 0;
	border: none;
}
fieldset {
	margin-bottom: rhythm();
	&:last-child {
		margin-bottom: 0;
	}
}
legend {
	display: block;
	margin-bottom: rhythm();
	@include font-size(1);
	font-weight: $font-weight__heading;
}
label {
	&[for] {
		cursor: pointer;
	}
}
input:not([type]),
[type='date'],
[type='datetime-local'],
[type='email'],
[type='month'],
[type='number'],
[type='password'],
[type='search'],
[type='tel'],
[type='text'],
[type='time'],
[type='url'],
[type='week'] {
	@include common-input-style;
	height: rhythm($height__input);
	padding: rhythm(0 $height__input / 3);
	line-height: rhythm('#{$height__input}:#{-$border-width__input * 2}');
	// &:not(:placeholder-shown) {
	// 	&:valid:focus {
	// 		border-color: $color__success;
	// 	}
	// 	&:invalid:not(:focus) {
	// 		border-color: $color__danger;
	// 	}
	// }
}
[type='date'],
[type='datetime-local'],
[type='month'],
[type='number'],
[type='time'],
[type='week'],
[list] {
	.ua-desktop.ua-chrome & {
		padding-right: 0;
	}
	.ua-mobile & {
		background-color: transparent;
		background-image: svg-uri('<svg fill="#{$color__text-primary}" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"/><path d="M0-.75h24v24H0z" fill="none"/></svg>');
		background-repeat: no-repeat;
		background-position: rhythm(right ($height__input / 3) center);
		background-size: 1em 1em;
		color: $color__text-primary;
		-moz-appearance: none;
		-webkit-appearance: none;
	}
	&::-webkit-clear-button {
		width: rhythm($height__input);
		height: 100%;
		margin-left: rhythm($height__input / 4);
		background-image: svg-uri('<svg fill="#{$color__text-primary}" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
		background-repeat: no-repeat;
		background-position: center;
		background-size: 1em 1em;
		-webkit-appearance: none;
	}
	&::-webkit-inner-spin-button {
		height: 100%;
		margin-left: 0;
	}
	&::-webkit-calendar-picker-indicator {
		width: rhythm($height__input / 1.5);
		height: 100%;
		padding: 0;
		background-color: $color__input-border;
		background-image: svg-uri('<svg fill="#{$color__text-primary}" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"/><path d="M0-.75h24v24H0z" fill="none"/></svg>');
		background-repeat: no-repeat;
		background-position: center;
		background-size: 1em 1em;
		color: transparent;
		-webkit-appearance: none;
	}
	&::-webkit-textfield-decoration-container {
		height: 100%;
	}
}
[type='color'] {
	width: rhythm($height__input);
	height: rhythm($height__input);
	margin: 0;
	padding: 0;
	@include transition('border');
	border: $border-width__input solid $color__input-border;
	border-radius: $border-radius;
	background-color: $color__input-bg;
	&:focus {
		border-color: $color__accent;
	}
	&::-webkit-color-swatch-wrapper {
		padding: 0;
	}
	&::-webkit-color-swatch {
		border: none;
	}
	.ua-ie & {
		[type='color'] {
			width: auto;
			padding: rhythm(0 $height__input / 3);
		}
	}
}
[type='file'] {
	height: rhythm($height__input);
	outline: none;
	font-family: inherit;
	line-height: rhythm();
	box-shadow: none;
	vertical-align: middle;
	label.button & {
		display: none;
	}
}
[type='range'] {
	height: rhythm($height__input);
	outline: none;
	background-color: transparent; // Otherwise white in Chrome
	line-height: rhythm($height__input);
	cursor: pointer;
	-webkit-appearance: none; // Hides the webkit slider so that custom slider can be made
	&::-webkit-slider-runnable-track {
		width: 100%;
		height: $border-width__slider;
		@include transition('background-color');
		border: none;
		border-radius: $border-radius;
		background-color: $color__slider-track;
		cursor: pointer;
	}
	&::-webkit-slider-thumb {
		width: rhythm($size__slider-thumb);
		height: rhythm($size__slider-thumb);
		margin-top: rhythm('#{($size__slider-thumb / -2)}:#{$border-width__slider / 2}');
		@include transition('background-color, transform');
		border: none;
		border-radius: 50%;
		background-color: $color__slider-thumb;
		cursor: pointer;
		-webkit-appearance: none;
	}
	&::-moz-range-track {
		width: 100%;
		height: $border-width__slider;
		border: none;
		border-radius: $border-radius;
		background-color: $color__slider-track;
		cursor: pointer;
	}
	&::-moz-range-thumb {
		width: rhythm($size__slider-thumb);
		height: rhythm($size__slider-thumb);
		border: none;
		background-color: $color__slider-thumb;
		cursor: pointer;
	}

	&::-ms-track {
		width: 100%;
		height: $border-width__slider;
		border: none;
		background-color: transparent;
		color: transparent;
		cursor: pointer;
	}
	&::-ms-fill-lower {
		border: none;
		border-radius: $border-radius;
		background-color: $color__slider-track-active;
	}
	&::-ms-fill-upper {
		border: none;
		border-radius: $border-radius;
		background-color: $color__slider-track;
	}
	&::-ms-thumb {
		width: rhythm($size__slider-thumb);
		height: rhythm($size__slider-thumb);
		transform: translateY($border-width__slider);
		border: none;
		border-radius: 50%;
		background-color: $color__slider-thumb-active;
		cursor: pointer;
	}
	&:focus {
		&::-webkit-slider-runnable-track {
			background-color: $color__slider-track-active;
		}
		&::-webkit-slider-thumb {
			background-color: $color__slider-thumb-active;
		}
		&::-moz-range-track {
			background-color: $color__slider-track-active;
		}
		&::-moz-range-thumb {
			background-color: $color__slider-thumb-active;
		}
	}
	&:active {
		&::-webkit-slider-thumb {
			transform: scale(1.5);
		}
		&::-moz-range-thumb {
			transform: scale(1.5);
		}
		&::-ms-thumb {
			transform: scale(1.5) translateY($border-width__slider / 2);
		}
	}
	&:disabled {
		opacity: $opacity__disabled;
		&::-webkit-slider-runnable-track {
			background-color: $color__slider-track;
		}
		&::-webkit-slider-thumb {
			background-color: $color__slider-thumb;
		}
		&::-moz-range-track {
			background-color: $color__slider-track;
		}
		&::-moz-range-thumb {
			background-color: $color__slider-thumb;
		}
		&::-webkit-slider-thumb {
			transform: scale(1);
		}
		&::-moz-range-thumb {
			transform: scale(1);
		}
		&::-ms-thumb {
			transform: translateY($border-width__slider);
		}
	}
	.ua-ie & {
		box-sizing: content-box;
		&::-ms-thumb {
			transform: translateY(0);
		}
		&:active {
			&::-ms-thumb {
				transform: scale(1.5);
			}
		}
	}
	.ua-mobile.ua-firefox & {
		border: none;
		&:hover, &:focus, &:active {
			&::-moz-range-track {
				background-color: $color__slider-track-active;
			}
			&::-moz-range-thumb {
				background-color: $color__slider-thumb-active;
			}
		}
	}
}
[type='checkbox'],
[type='radio'] {
	width: 1em;
	height: 1em;
	margin-top: -0.15em;
	outline: none;
	line-height: inherit;
	vertical-align: middle;
}
textarea {
	@include common-input-style;
	min-height: rhythm($min-height__textarea);
	padding: rhythm($height__input / 4 $height__input / 3);
	line-height: rhythm();
}
select {
	@include common-input-style;
	height: rhythm($height__input);
	padding: rhythm(0 $height__input / 3);
	line-height: rhythm('#{$height__input}:#{-$border-width__input * 2}');
	.ua-chrome &, .ua-firefox & {
		padding-right: rhythm($height__input);
		background-image: svg-uri('<svg fill="#{$color__text-primary}" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"/><path d="M0-.75h24v24H0z" fill="none"/></svg>');
		background-repeat: no-repeat;
		background-position: rhythm(right ($height__input / 3) center);
		background-size: 1em 1em;
		-moz-appearance: none;
		-webkit-appearance: none;
	}
	option, optgroup {
		color: inherit;
		font-family: inherit;
	}
	option {
		&:hover, &:active, &:checked {
			background-color: $color__input-border;
			color: $color__text-primary;
		}
	}
	&[size], &[multiple] {
		.ua-desktop & {
			height: auto;
			padding: rhythm($height__input / 6 0);
			option {
				padding: rhythm($height__input / 6 $height__input / 3);
				@include transition('background-color, color');
			}
		}
		.ua-chrome &, .ua-firefox & {
			background-image: none;
		}
		.ua-edge & {
			padding-top: 0;
			padding-bottom: 0;
			option {
				padding-top: 0;
				padding-bottom: 0;
			}
		}
	}
	&:focus {
		option {
			&:checked {
				background-color: $color__accent;
				color: $color__accent-text;
			}
		}
	}
	.ua-ie & {
		padding-right: 0;
	}
}
button,
[type='button'],
[type='reset'],
[type='submit'] {
	height: rhythm($height__button);
	padding: rhythm(0 $height__button / 2);
	@include transition('border, background-color, color');
	border: $border-width__button solid transparent;
	border-radius: $border-radius;
	background-color: $color__text-primary;
	color: $color__text-primary--dark;
	font-family: $font-family__base;
	@include font-size(0, false);
	font-weight: $font-weight__button;
	line-height: rhythm('#{$height__button}:-#{$border-width__button * 2}');
	text-align: center;
	// box-shadow: none;
	cursor: pointer;
	vertical-align: middle;
	&:focus {
		border-color: $color__accent;
		outline: none;
	}
	&:focus, &:hover {
		background-color: lighten($color__text-primary, 6.2%);
	}
	&:active {
		background-color: darken($color__text-primary, 6.2%);
	}
	&:disabled {
		cursor: not-allowed;
		opacity: $opacity__disabled;
	}
}
// sass-lint:enable no-vendor-prefixes

/*
## Images
*/
img {
	max-width: 100%;
	height: auto;
	border-style: none;
	vertical-align: middle;
}
figure {
	display: block;
	max-width: 100%;
	margin: rhythm(0 0 1);
	&:last-child {
		margin-bottom: 0;
	}
}
figcaption {
	display: block;
	color: $color__text-secondary;
	@include font-size(-1, 1.5);
}

/*
## Audio and Video
*/
audio, video {
	display: inline-block;
	max-width: 100%;
}
audio:not([controls]) {
	display: none;
	height: 0;
}

/*
## Links
*/
a {
	@include transition('border-color, background-color, color');
	color: $color__link;
	text-decoration: none;
	word-wrap: break-word; // Break long URLS
	&:focus, &:hover, &:active {
		cursor: pointer; // some <a> without href
	}
}

/*
## Lists
*/
ol, ul {
	margin: rhythm(0 0 1);
	padding: rhythm(0 0 0 1);
	list-style: disc;
	&:last-child {
		margin-bottom: 0;
	}
}
li {
	ul, ol {
		margin-bottom: 0;
		padding-left: rhythm(1);
	}
}
dl {
	margin: rhythm(0 0 1);
	&:last-child {
		margin-bottom: 0;
	}
}
dt {
	font-weight: $font-weight__dt;
}
dd {
	margin: rhythm(0 0 1);
	&:last-child {
		margin-bottom: 0;
	}
}

/*
## Tables
*/
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: none;
	text-align: left;
}
table {
	width: 100%;
	max-width: 100%;
	margin-bottom: rhythm();
	border-collapse: collapse; // Prevent double borders
	border-spacing: 0;
	&:last-child {
		margin-bottom: 0;
	}
}
caption {
	color: $color__text-hint;
	text-align: center;
	caption-side: bottom;
}
th, td {
	padding: rhythm(1/4 1/2);
	border-top: $border-width__table solid $color__dividers;
	vertical-align: top;
	&:empty {
		content: '\00a0';
	}
}
thead {
	th {
		border-bottom: $border-width__table * 2 solid $color__dividers;
		vertical-align: bottom;
	}
}

/*
## Programming and Frames
*/
embed, iframe, object {
	max-width: 100%; // Make sure embeds and iframes fit their containers.
	margin-bottom: rhythm(1);
	p > &:only-child {
		margin-bottom: 0; // Remove bottom on embeds that wrapped in paragraphs via wpautop.
	}
}
