html {
	box-sizing: border-box;
	@include establish-baseline;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}

@include selection {
	background-color: $color__accent;
	color: $color__accent-text;
}

// :focus {
// 	outline: 2px solid rgba($color__accent, 0.5);
// 	// outline-offset: 1px;
// 	&[data-focus-method='mouse'], &[data-focus-method='touch'] {
// 		&:not(input):not(textarea):not(select) {
// 			outline: none;
// 		}
// 	}
// }
// ::-moz-focus-inner {
// 	padding: 0;
// 	border: none;
// }
