@function color-luma($c) {
	$r: red(rgba($c, 1));
	$g: green(rgba($c, 1));
	$b: blue(rgba($c, 1));
	@return ( 0.2126 * $r + 0.7152 * $g + 0.0722 * $b ) / 255;
	// @return ( 0.299 * $r + 0.587 * $g + 0.114 * $b ) / 255;
}

@function contrast-color($bg, $dark: $color__contrast-dark, $light: $color__contrast-light) {
	$luma-bg: color-luma($bg);
	$luma-dark: color-luma($dark);
	$luma-light: color-luma($light);
	$diff-dark: abs($luma-bg -$luma-dark);
	$diff-light: abs($luma-bg -$luma-light);
	@if $diff-dark > $diff-light {
		@return $dark;
	} @else {
		@return $light;
	}
}

@function str-replace($string, $search, $replace: '') {
	$index: str-index($string, $search);
	@if $index {
		@return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
	}
	@return $string;
}

@function svg-uri($svg) {
	$encoded: '';
	$slice: 2000;
	$index: 0;
	$loops: ceil(str-length($svg) / $slice);
	@for $i from 1 through $loops {
		$chunk: str-slice($svg, $index, $index + $slice - 1);
		$chunk: str-replace($chunk, '\'', '"');
		$chunk: str-replace($chunk, '<', '%3C');
		$chunk: str-replace($chunk, '>', '%3E');
		$chunk: str-replace($chunk, '&', '%26');
		$chunk: str-replace($chunk, '#', '%23');
		$encoded: #{$encoded}#{$chunk};
		$index: $index + $slice;
	}
	@return url('data:image/svg+xml;charset=utf8,#{$encoded}');
}

@mixin optional-at-root($selector) {
	@at-root #{if(not &, $selector, selector-append(&, $selector))} {
		@content;
	}
}

@mixin optional-selector($selector) {
	@at-root #{if(not &, $selector, &)} {
		@content;
	}
}

@mixin clearfix {
	// #{'*zoom'}: 1; // For IE 6/7 only
	&::before,
	&::after {
		display: table;
		content: '';
	}
	&::after {
		clear: both;
	}
}

@mixin selection {
	@include optional-at-root('::-moz-selection') {
		@content;
	}
	@include optional-at-root('::selection') {
		@content;
	}
}

@mixin placeholder($color: null) {
	@include optional-at-root('::-webkit-input-placeholder') {
		color: $color;
		@content;
	}
	@include optional-at-root('::-moz-placeholder') {
		color: $color;
		@content;
	}
	@include optional-at-root(':-moz-placeholder') {
		color: $color;
		@content;
	}
	@include optional-at-root(':-ms-input-placeholder') {
		color: $color;
		@content;
	}
}

@mixin transition(
	$property: all,
	$duration: $transition__duration,
	$function: $transition__function,
	$delay: null
	) {
	@if $enable__transitions {
		@if $property == none or $property == 'none' {
			transition: none;
		} @elseif $property {
			$delay: if(type-of($delay) == string, unquote($delay), $delay);
			$property: if(type-of($property) == string, unquote($property), $property);
			$duration: if(type-of($duration) == string, unquote($duration), $duration);
			$function: if(type-of($function) == string, unquote($function), $function);
			transition-delay: $delay;
			transition-duration: $duration;
			transition-property: $property;
			transition-timing-function: $function;
		}
	}
}

@mixin z-depth(
	$level: 1,
	$color-1: $alpha-black__100,
	$color-2: $alpha-black__200,
	$color-3: $alpha-black__300
	) {
	@if $level == 0 {
		box-shadow: none;
	}
	@if $level == 1 {
		box-shadow:
		0px 2px 1px -1px $color-3,
		0px 1px 1px 0px $color-1,
		0px 1px 3px 0px $color-2;
	}
	@if $level == 2 {
		box-shadow:
		0px 3px 1px -2px $color-3,
		0px 2px 2px 0px $color-1,
		0px 1px 5px 0px $color-2;
	}
	@if $level == 3 {
		box-shadow:
		0px 3px 3px -2px $color-3,
		0px 3px 4px 0px $color-1,
		0px 1px 8px 0px $color-2;
	}
	@if $level == 4 {
		box-shadow:
		0px 2px 4px -1px $color-3,
		0px 4px 5px 0px $color-1,
		0px 1px 10px 0px $color-2;
	}
	@if $level == 5 {
		box-shadow:
		0px 3px 5px -1px $color-3,
		0px 5px 8px 0px $color-1,
		0px 1px 14px 0px $color-2;
	}
	@if $level == 6 {
		box-shadow:
		0px 3px 5px -1px $color-3,
		0px 6px 10px 0px $color-1,
		0px 1px 18px 0px $color-2;
	}
	@if $level == 7 {
		box-shadow:
		0px 4px 5px -2px $color-3,
		0px 7px 10px 1px $color-1,
		0px 2px 16px 1px $color-2;
	}
	@if $level == 8 {
		box-shadow:
		0px 5px 5px -3px $color-3,
		0px 8px 10px 1px $color-1,
		0px 3px 14px 2px $color-2;
	}
	@if $level == 9 {
		box-shadow:
		0px 5px 6px -3px $color-3,
		0px 9px 12px 1px $color-1,
		0px 3px 16px 2px $color-2;
	}
	@if $level == 10 {
		box-shadow:
		0px 6px 6px -3px $color-3,
		0px 10px 14px 1px $color-1,
		0px 4px 18px 3px $color-2;
	}
	@if $level == 11 {
		box-shadow:
		0px 6px 7px -4px $color-3,
		0px 11px 15px 1px $color-1,
		0px 4px 20px 3px $color-2;
	}
	@if $level == 12 {
		box-shadow:
		0px 7px 8px -4px $color-3,
		0px 12px 17px 2px $color-1,
		0px 5px 22px 4px $color-2;
	}
	@if $level == 13 {
		box-shadow:
		0px 7px 8px -4px $color-3,
		0px 13px 19px 2px $color-1,
		0px 5px 24px 4px $color-2;
	}
	@if $level == 14 {
		box-shadow:
		0px 7px 9px -4px $color-3,
		0px 14px 21px 2px $color-1,
		0px 5px 26px 4px $color-2;
	}
	@if $level == 15 {
		box-shadow:
		0px 8px 9px -5px $color-3,
		0px 15px 22px 2px $color-1,
		0px 6px 28px 5px $color-2;
	}
	@if $level == 16 {
		box-shadow:
		0px 8px 10px -5px $color-3,
		0px 16px 24px 2px $color-1,
		0px 6px 30px 5px $color-2;
	}
	@if $level == 17 {
		box-shadow:
		0px 8px 11px -5px $color-3,
		0px 17px 26px 2px $color-1,
		0px 6px 32px 5px $color-2;
	}
	@if $level == 18 {
		box-shadow:
		0px 9px 11px -5px $color-3,
		0px 18px 28px 2px $color-1,
		0px 7px 34px 6px $color-2;
	}
	@if $level == 19 {
		box-shadow:
		0px 9px 12px -6px $color-3,
		0px 19px 29px 2px $color-1,
		0px 7px 36px 6px $color-2;
	}
	@if $level == 20 {
		box-shadow:
		0px 10px 13px -6px $color-3,
		0px 20px 31px 3px $color-1,
		0px 8px 38px 7px $color-2;
	}
	@if $level == 21 {
		box-shadow:
		0px 10px 13px -6px $color-3,
		0px 21px 33px 3px $color-1,
		0px 8px 40px 7px $color-2;
	}
	@if $level == 22 {
		box-shadow:
		0px 10px 14px -6px $color-3,
		0px 22px 35px 3px $color-1,
		0px 8px 42px 7px $color-2;
	}
	@if $level == 23 {
		box-shadow:
		0px 11px 14px -7px $color-3,
		0px 23px 36px 3px $color-1,
		0px 9px 44px 8px $color-2;
	}
	@if $level == 24 {
		box-shadow:
		0px 11px 15px -7px $color-3,
		0px 24px 38px 3px $color-1,
		0px 9px 46px 8px $color-2;
	}
}

@mixin material-icons(
	$display: inline-block,
	$font-size: inherit,
	$line-height: inherit,
	$vertical-align: top
	) {
	// sass-lint:disable-block no-vendor-prefixes
	display: $display;
	font-family: 'Material Icons';
	font-size: $font-size;
	font-style: normal;
	font-weight: 400;
	letter-spacing: normal;
	line-height: $line-height;
	text-rendering: optimizeLegibility; // Support for Safari and Chrome.
	text-transform: none;
	white-space: nowrap;
	vertical-align: $vertical-align;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-smoothing: antialiased; // Support for all WebKit browsers.
	-moz-osx-font-smoothing: grayscale; // Support for Firefox.
	font-feature-settings: 'liga'; // Support for IE.
}

@mixin with-count($n, $selector: null) {
	$selector: if($selector == null, #{&}, $selector);
	@if $n == 1 {
		&:first-child:nth-last-child(1) {
			@content;
		}
	} @else {
		&:first-child:nth-last-child(#{$n}),
		&:first-child:nth-last-child(#{$n}) ~ #{$selector} {
			@content;
		}
	}
}

// Only display content to screen readers
@mixin sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
	word-wrap: normal; // Many screen reader and browser combinations announce broken words as they would appear visually.
}

// Use in conjunction with .sr-only to only display content when it's focused.
@mixin sr-only-focusable {
	&:focus {
		display: block;
		top: rhythm(1.5/4);
		left: rhythm(1.5/4);
		width: auto;
		height: auto;
		padding: rhythm(0 1.5/2);
		background-color: #000;
		color: #FFF;
		@include font-size(0, 1.5);
		font-weight: $font-weight__bold;
		text-decoration: none;
		z-index: 100000; // Above WP toolbar
		clip: auto;
	}
}

// sass-lint:disable no-vendor-prefixes
@mixin hide-scrollbar {
	-ms-overflow-style: none;
	&::-webkit-scrollbar {
		display: none;
	}
}
// sass-lint:enable no-vendor-prefixes

// Media query mixins
@mixin only-mobile(
	$and: false,
	$media-type: $responsive__default-media-type,
	$unit: $responsive__media-query-unit
	) {
	@include media-query(
		$until: mobile,
		$and: $and,
		$media-type: $media-type,
		$unit: $unit
		) {
		@content;
	}
}
@mixin only-tablet(
	$and: false,
	$media-type: $responsive__default-media-type,
	$unit: $responsive__media-query-unit
	) {
	@include media-query(
		$from: mobile, $until: tablet,
		$and: $and,
		$media-type: $media-type,
		$unit: $unit
		) {
		@content;
	}
}
@mixin only-desktop(
	$and: false,
	$media-type: $responsive__default-media-type,
	$unit: $responsive__media-query-unit
	) {
	@include media-query(
		$from: tablet, $until: desktop,
		$and: $and,
		$media-type: $media-type,
		$unit: $unit
		) {
		@content;
	}
}

// Mobile first
@mixin from-mobile(
	$and: false,
	$media-type: $responsive__default-media-type,
	$unit: $responsive__media-query-unit
	) {
	@include media-query(
		$from: mobile,
		$and: $and,
		$media-type: $media-type,
		$unit: $unit
		) {
		@content;
	}
}
@mixin from-tablet(
	$and: false,
	$media-type: $responsive__default-media-type,
	$unit: $responsive__media-query-unit
	) {
	@include media-query(
		$from: tablet,
		$and: $and,
		$media-type: $media-type,
		$unit: $unit
		) {
		@content;
	}
}
@mixin from-desktop(
	$and: false,
	$media-type: $responsive__default-media-type,
	$unit: $responsive__media-query-unit
	) {
	@include media-query(
		$from: desktop,
		$and: $and,
		$media-type: $media-type,
		$unit: $unit
		) {
		@content;
	}
}

// Desktop first
@mixin until-mobile(
	$and: false,
	$media-type: $responsive__default-media-type,
	$unit: $responsive__media-query-unit
	) {
	@include media-query(
		$until: mobile,
		$and: $and,
		$media-type: $media-type,
		$unit: $unit
		) {
		@content;
	}
}
@mixin until-tablet(
	$and: false,
	$media-type: $responsive__default-media-type,
	$unit: $responsive__media-query-unit
	) {
	@include media-query(
		$until: tablet,
		$and: $and,
		$media-type: $media-type,
		$unit: $unit
		) {
		@content;
	}
}
@mixin until-desktop(
	$and: false,
	$media-type: $responsive__default-media-type,
	$unit: $responsive__media-query-unit
	) {
	@include media-query(
		$until: desktop,
		$and: $and,
		$media-type: $media-type,
		$unit: $unit
		) {
		@content;
	}
}

@mixin grid-widths {
	// Whole
	&--one-whole {
		width: percentage(1);
	}

	// Halves
	&--one-half {
		width: percentage(1 / 2);
	}

	// Thirds
	&--one-third {
		width: percentage(1 / 3);
	}
	&--two-thirds {
		width: percentage(2 / 3);
	}

	// Quarters
	&--one-quarter {
		width: percentage(1 / 4);
	}
	&--two-quarters {
		width: percentage(2 / 4);
	}
	&--three-quarters {
		width: percentage(3 / 4);
	}

	// Fifths
	&--one-fifth {
		width: percentage(1 / 5);
	}
	&--two-fifths {
		width: percentage(2 / 5);
	}
	&--three-fifths {
		width: percentage(3 / 5);
	}
	&--four-fifths {
		width: percentage(4 / 5);
	}

	// Sixths
	&--one-sixth {
		width: percentage(1 / 6);
	}
	&--two-sixths {
		width: percentage(2 / 6);
	}
	&--three-sixths {
		width: percentage(3 / 6);
	}
	&--four-sixths {
		width: percentage(4 / 6);
	}
	&--five-sixths {
		width: percentage(5 / 6);
	}

	// Eighths
	&--one-eighth {
		width: percentage(1 / 8);
	}
	&--two-eighths {
		width: percentage(2 / 8);
	}
	&--three-eighths {
		width: percentage(3 / 8);
	}
	&--four-eighths {
		width: percentage(4 / 8);
	}
	&--five-eighths {
		width: percentage(5 / 8);
	}
	&--six-eighths {
		width: percentage(6 / 8);
	}
	&--seven-eighths {
		width: percentage(7 / 8);
	}

	// Tenths
	&--one-tenth {
		width: percentage(1 / 10);
	}
	&--two-tenths {
		width: percentage(2 / 10);
	}
	&--three-tenths {
		width: percentage(3 / 10);
	}
	&--four-tenths {
		width: percentage(4 / 10);
	}
	&--five-tenths {
		width: percentage(5 / 10);
	}
	&--six-tenths {
		width: percentage(6 / 10);
	}
	&--seven-tenths {
		width: percentage(7 / 10);
	}
	&--eight-tenths {
		width: percentage(8 / 10);
	}
	&--nine-tenths {
		width: percentage(9 / 10);
	}

	// Twelfths
	&--one-twelfth {
		width: percentage(1 / 12);
	}
	&--two-twelfths {
		width: percentage(2 / 12);
	}
	&--three-twelfths {
		width: percentage(3 / 12);
	}
	&--four-twelfths {
		width: percentage(4 / 12);
	}
	&--five-twelfths {
		width: percentage(5 / 12);
	}
	&--six-twelfths {
		width: percentage(6 / 12);
	}
	&--seven-twelfths {
		width: percentage(7 / 12);
	}
	&--eight-twelfths {
		width: percentage(8 / 12);
	}
	&--nine-twelfths {
		width: percentage(9 / 12);
	}
	&--ten-twelfths {
		width: percentage(10 / 12);
	}
	&--eleven-twelfths {
		width: percentage(11 / 12);
	}
}

@function wrapper-width(
	$wrapper: medium,
	$layout: medium,
	$padding: 1,
	$offset: 0
	) {
	$w: 0;
	@if type-of($wrapper) == number {
		$w: $wrapper;
	} @else if $wrapper == small {
		$w: -1;
	} @else if $wrapper == medium {
		$w: 0;
	} @else if $wrapper == large {
		$w: 1;
	} @else if $wrapper == full {
		@return 100%;
	}
	$l: 0;
	@if type-of($layout) == number {
		$l: $layout;
	} @else if $layout == small {
		$l: -1;
	} @else if $layout == medium {
		$l: 0;
	} @else if $layout == large {
		$l: 1;
	}
	$w: rhythm(6 * $w, px);
	$l: rhythm(6 * $l, px);
	$p: if(type-of($padding) == number, rhythm($padding * 2, px), 0);
	$o: rhythm($offset, px);
	@return breakpoint-last-width(px) + $w + $l + $p + $o;
}
@mixin make-wrapper(
	$wrapper: medium,
	$padding: 1,
	$margin: auto,
	$offset: 0,
	$root-layout-modifiers: true,
	$modifiers: ()
	) {
	margin-right: rhythm($margin);
	margin-left: rhythm($margin);
	padding-right: rhythm($padding);
	padding-left: rhythm($padding);
	@if $root-layout-modifiers {
		body.layout-small & {
			max-width: wrapper-width($wrapper, small, $padding, $offset);
		}
		body.layout-medium & {
			max-width: wrapper-width($wrapper, medium, $padding, $offset);
		}
		body.layout-large & {
			max-width: wrapper-width($wrapper, large, $padding, $offset);
		}
	}
	@if index($modifiers, small) {
		&--wrapper-small {
			@include make-wrapper(small, $padding, null, $offset, $root-layout-modifiers, false);
		}
	}
	@if index($modifiers, medium) {
		&--wrapper-medium {
			@include make-wrapper(medium, $padding, null, $offset, $root-layout-modifiers, false);
		}
	}
	@if index($modifiers, large) {
		&--wrapper-large {
			@include make-wrapper(large, $padding, null, $offset, $root-layout-modifiers, false);
		}
	}
	@if index($modifiers, full) {
		&--wrapper-full {
			@include make-wrapper(full, $padding, null, $offset, $root-layout-modifiers, false);
		}
	}
}
