/*
## AJAX Preloader
*/

/*
## Animations and Transitions
*/

/*
## Drawer
*/

/*
## Icons
*/
// sass-lint:disable no-vendor-prefixes brace-style
@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	// src: url('assets/icons/material/MaterialIcons-Regular.eot'); // For IE6-8
	src: local('Material Icons'),
	local('MaterialIcons-Regular'),
	url('assets/icons/material/MaterialIcons-Regular.woff2') format('woff2'),
	url('assets/icons/material/MaterialIcons-Regular.woff') format('woff'),
	url('assets/icons/material/MaterialIcons-Regular.ttf') format('truetype');
}
.material-icons {
	display: inline-block;
	font-family: 'Material Icons';
	font-size: inherit;
	font-style: normal;
	font-weight: 400;
	letter-spacing: normal;
	line-height: inherit;
	text-rendering: optimizeLegibility; // Support for Safari and Chrome.
	text-transform: none;
	white-space: nowrap;
	vertical-align: top;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-smoothing: antialiased; // Support for all WebKit browsers.
	-moz-osx-font-smoothing: grayscale; // Support for Firefox.
	font-feature-settings: 'liga'; // Support for IE.
	.ua-webkit & {
		transform: rotate(0.03deg);
	}
}
@font-face {
	font-family: 'Socicon';
	font-style: normal;
	font-weight: normal;
	// src: url('assets/icons/socicon/Socicon.eot');
	src: url('assets/icons/socicon/Socicon.eot') format('embedded-opentype'),
	url('assets/icons/socicon/Socicon.woff2') format('woff2'),
	url('assets/icons/socicon/Socicon.ttf') format('truetype'),
	url('assets/icons/socicon/Socicon.woff') format('woff'),
	url('assets/icons/socicon/Socicon.svg') format('svg');
}
[class^='socicon-'], [class*=' socicon-'] {
	font-family: 'Socicon';
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: inherit;
	text-transform: none;

	// Better Font Rendering
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.socicon {
	&-hackernews::before {
		content: '\e946';
	}
	&-smashwords::before {
		content: '\e947';
	}
	&-kobo::before {
		content: '\e948';
	}
	&-bookbub::before {
		content: '\e949';
	}
	&-mailru::before {
		content: '\e94a';
	}
	&-gitlab::before {
		content: '\e945';
	}
	&-instructables::before {
		content: '\e944';
	}
	&-portfolio::before {
		content: '\e943';
	}
	&-codered::before {
		content: '\e940';
	}
	&-origin::before {
		content: '\e941';
	}
	&-nextdoor::before {
		content: '\e942';
	}
	&-udemy::before {
		content: '\e93f';
	}
	&-livemaster::before {
		content: '\e93e';
	}
	&-crunchbase::before {
		content: '\e93b';
	}
	&-homefy::before {
		content: '\e93c';
	}
	&-calendly::before {
		content: '\e93d';
	}
	&-realtor::before {
		content: '\e90f';
	}
	&-tidal::before {
		content: '\e910';
	}
	&-qobuz::before {
		content: '\e911';
	}
	&-natgeo::before {
		content: '\e912';
	}
	&-mastodon::before {
		content: '\e913';
	}
	&-unsplash::before {
		content: '\e914';
	}
	&-homeadvisor::before {
		content: '\e915';
	}
	&-angieslist::before {
		content: '\e916';
	}
	&-codepen::before {
		content: '\e917';
	}
	&-slack::before {
		content: '\e918';
	}
	&-openaigym::before {
		content: '\e919';
	}
	&-logmein::before {
		content: '\e91a';
	}
	&-fiverr::before {
		content: '\e91b';
	}
	&-gotomeeting::before {
		content: '\e91c';
	}
	&-aliexpress::before {
		content: '\e91d';
	}
	&-guru::before {
		content: '\e91e';
	}
	&-appstore::before {
		content: '\e91f';
	}
	&-homes::before {
		content: '\e920';
	}
	&-zoom::before {
		content: '\e921';
	}
	&-alibaba::before {
		content: '\e922';
	}
	&-craigslist::before {
		content: '\e923';
	}
	&-wix::before {
		content: '\e924';
	}
	&-redfin::before {
		content: '\e925';
	}
	&-googlecalendar::before {
		content: '\e926';
	}
	&-shopify::before {
		content: '\e927';
	}
	&-freelancer::before {
		content: '\e928';
	}
	&-seedrs::before {
		content: '\e929';
	}
	&-bing::before {
		content: '\e92a';
	}
	&-doodle::before {
		content: '\e92b';
	}
	&-bonanza::before {
		content: '\e92c';
	}
	&-squarespace::before {
		content: '\e92d';
	}
	&-toptal::before {
		content: '\e92e';
	}
	&-gust::before {
		content: '\e92f';
	}
	&-ask::before {
		content: '\e930';
	}
	&-trulia::before {
		content: '\e931';
	}
	&-loomly::before {
		content: '\e932';
	}
	&-ghost::before {
		content: '\e933';
	}
	&-upwork::before {
		content: '\e934';
	}
	&-fundable::before {
		content: '\e935';
	}
	&-booking::before {
		content: '\e936';
	}
	&-googlemaps::before {
		content: '\e937';
	}
	&-zillow::before {
		content: '\e938';
	}
	&-niconico::before {
		content: '\e939';
	}
	&-toneden::before {
		content: '\e93a';
	}
	&-augment::before {
		content: '\e908';
	}
	&-bitbucket::before {
		content: '\e909';
	}
	&-fyuse::before {
		content: '\e90a';
	}
	&-yt-gaming::before {
		content: '\e90b';
	}
	&-sketchfab::before {
		content: '\e90c';
	}
	&-mobcrush::before {
		content: '\e90d';
	}
	&-microsoft::before {
		content: '\e90e';
	}
	&-pandora::before {
		content: '\e907';
	}
	&-messenger::before {
		content: '\e906';
	}
	&-gamewisp::before {
		content: '\e905';
	}
	&-bloglovin::before {
		content: '\e904';
	}
	&-tunein::before {
		content: '\e903';
	}
	&-gamejolt::before {
		content: '\e901';
	}
	&-trello::before {
		content: '\e902';
	}
	&-spreadshirt::before {
		content: '\e900';
	}
	&-500px::before {
		content: '\e000';
	}
	&-8tracks::before {
		content: '\e001';
	}
	&-airbnb::before {
		content: '\e002';
	}
	&-alliance::before {
		content: '\e003';
	}
	&-amazon::before {
		content: '\e004';
	}
	&-amplement::before {
		content: '\e005';
	}
	&-android::before {
		content: '\e006';
	}
	&-angellist::before {
		content: '\e007';
	}
	&-apple::before {
		content: '\e008';
	}
	&-appnet::before {
		content: '\e009';
	}
	&-baidu::before {
		content: '\e00a';
	}
	&-bandcamp::before {
		content: '\e00b';
	}
	&-battlenet::before {
		content: '\e00c';
	}
	&-mixer::before {
		content: '\e00d';
	}
	&-bebee::before {
		content: '\e00e';
	}
	&-bebo::before {
		content: '\e00f';
	}
	&-behance::before {
		content: '\e010';
	}
	&-blizzard::before {
		content: '\e011';
	}
	&-blogger::before {
		content: '\e012';
	}
	&-buffer::before {
		content: '\e013';
	}
	&-chrome::before {
		content: '\e014';
	}
	&-coderwall::before {
		content: '\e015';
	}
	&-curse::before {
		content: '\e016';
	}
	&-dailymotion::before {
		content: '\e017';
	}
	&-deezer::before {
		content: '\e018';
	}
	&-delicious::before {
		content: '\e019';
	}
	&-deviantart::before {
		content: '\e01a';
	}
	&-diablo::before {
		content: '\e01b';
	}
	&-digg::before {
		content: '\e01c';
	}
	&-discord::before {
		content: '\e01d';
	}
	&-disqus::before {
		content: '\e01e';
	}
	&-douban::before {
		content: '\e01f';
	}
	&-draugiem::before {
		content: '\e020';
	}
	&-dribbble::before {
		content: '\e021';
	}
	&-drupal::before {
		content: '\e022';
	}
	&-ebay::before {
		content: '\e023';
	}
	&-ello::before {
		content: '\e024';
	}
	&-endomodo::before {
		content: '\e025';
	}
	&-envato::before {
		content: '\e026';
	}
	&-etsy::before {
		content: '\e027';
	}
	&-facebook::before {
		content: '\e028';
	}
	&-feedburner::before {
		content: '\e029';
	}
	&-filmweb::before {
		content: '\e02a';
	}
	&-firefox::before {
		content: '\e02b';
	}
	&-flattr::before {
		content: '\e02c';
	}
	&-flickr::before {
		content: '\e02d';
	}
	&-formulr::before {
		content: '\e02e';
	}
	&-forrst::before {
		content: '\e02f';
	}
	&-foursquare::before {
		content: '\e030';
	}
	&-friendfeed::before {
		content: '\e031';
	}
	&-github::before {
		content: '\e032';
	}
	&-goodreads::before {
		content: '\e033';
	}
	&-google::before {
		content: '\e034';
	}
	&-googlescholar::before {
		content: '\e035';
	}
	&-googlegroups::before {
		content: '\e036';
	}
	&-googlephotos::before {
		content: '\e037';
	}
	&-googleplus::before {
		content: '\e038';
	}
	&-grooveshark::before {
		content: '\e039';
	}
	&-hackerrank::before {
		content: '\e03a';
	}
	&-hearthstone::before {
		content: '\e03b';
	}
	&-hellocoton::before {
		content: '\e03c';
	}
	&-heroes::before {
		content: '\e03d';
	}
	&-smashcast::before {
		content: '\e03e';
	}
	&-horde::before {
		content: '\e03f';
	}
	&-houzz::before {
		content: '\e040';
	}
	&-icq::before {
		content: '\e041';
	}
	&-identica::before {
		content: '\e042';
	}
	&-imdb::before {
		content: '\e043';
	}
	&-instagram::before {
		content: '\e044';
	}
	&-issuu::before {
		content: '\e045';
	}
	&-istock::before {
		content: '\e046';
	}
	&-itunes::before {
		content: '\e047';
	}
	&-keybase::before {
		content: '\e048';
	}
	&-lanyrd::before {
		content: '\e049';
	}
	&-lastfm::before {
		content: '\e04a';
	}
	&-line::before {
		content: '\e04b';
	}
	&-linkedin::before {
		content: '\e04c';
	}
	&-livejournal::before {
		content: '\e04d';
	}
	&-lyft::before {
		content: '\e04e';
	}
	&-macos::before {
		content: '\e04f';
	}
	&-mail::before {
		content: '\e050';
	}
	&-medium::before {
		content: '\e051';
	}
	&-meetup::before {
		content: '\e052';
	}
	&-mixcloud::before {
		content: '\e053';
	}
	&-modelmayhem::before {
		content: '\e054';
	}
	&-mumble::before {
		content: '\e055';
	}
	&-myspace::before {
		content: '\e056';
	}
	&-newsvine::before {
		content: '\e057';
	}
	&-nintendo::before {
		content: '\e058';
	}
	&-npm::before {
		content: '\e059';
	}
	&-odnoklassniki::before {
		content: '\e05a';
	}
	&-openid::before {
		content: '\e05b';
	}
	&-opera::before {
		content: '\e05c';
	}
	&-outlook::before {
		content: '\e05d';
	}
	&-overwatch::before {
		content: '\e05e';
	}
	&-patreon::before {
		content: '\e05f';
	}
	&-paypal::before {
		content: '\e060';
	}
	&-periscope::before {
		content: '\e061';
	}
	&-persona::before {
		content: '\e062';
	}
	&-pinterest::before {
		content: '\e063';
	}
	&-play::before {
		content: '\e064';
	}
	&-player::before {
		content: '\e065';
	}
	&-playstation::before {
		content: '\e066';
	}
	&-pocket::before {
		content: '\e067';
	}
	&-qq::before {
		content: '\e068';
	}
	&-quora::before {
		content: '\e069';
	}
	&-raidcall::before {
		content: '\e06a';
	}
	&-ravelry::before {
		content: '\e06b';
	}
	&-reddit::before {
		content: '\e06c';
	}
	&-renren::before {
		content: '\e06d';
	}
	&-researchgate::before {
		content: '\e06e';
	}
	&-residentadvisor::before {
		content: '\e06f';
	}
	&-reverbnation::before {
		content: '\e070';
	}
	&-rss::before {
		content: '\e071';
	}
	&-sharethis::before {
		content: '\e072';
	}
	&-skype::before {
		content: '\e073';
	}
	&-slideshare::before {
		content: '\e074';
	}
	&-smugmug::before {
		content: '\e075';
	}
	&-snapchat::before {
		content: '\e076';
	}
	&-songkick::before {
		content: '\e077';
	}
	&-soundcloud::before {
		content: '\e078';
	}
	&-spotify::before {
		content: '\e079';
	}
	&-stackexchange::before {
		content: '\e07a';
	}
	&-stackoverflow::before {
		content: '\e07b';
	}
	&-starcraft::before {
		content: '\e07c';
	}
	&-stayfriends::before {
		content: '\e07d';
	}
	&-steam::before {
		content: '\e07e';
	}
	&-storehouse::before {
		content: '\e07f';
	}
	&-strava::before {
		content: '\e080';
	}
	&-streamjar::before {
		content: '\e081';
	}
	&-stumbleupon::before {
		content: '\e082';
	}
	&-swarm::before {
		content: '\e083';
	}
	&-teamspeak::before {
		content: '\e084';
	}
	&-teamviewer::before {
		content: '\e085';
	}
	&-technorati::before {
		content: '\e086';
	}
	&-telegram::before {
		content: '\e087';
	}
	&-tripadvisor::before {
		content: '\e088';
	}
	&-tripit::before {
		content: '\e089';
	}
	&-triplej::before {
		content: '\e08a';
	}
	&-tumblr::before {
		content: '\e08b';
	}
	&-twitch::before {
		content: '\e08c';
	}
	&-twitter::before {
		content: '\e08d';
	}
	&-uber::before {
		content: '\e08e';
	}
	&-ventrilo::before {
		content: '\e08f';
	}
	&-viadeo::before {
		content: '\e090';
	}
	&-viber::before {
		content: '\e091';
	}
	&-viewbug::before {
		content: '\e092';
	}
	&-vimeo::before {
		content: '\e093';
	}
	&-vine::before {
		content: '\e094';
	}
	&-vkontakte::before {
		content: '\e095';
	}
	&-warcraft::before {
		content: '\e096';
	}
	&-wechat::before {
		content: '\e097';
	}
	&-weibo::before {
		content: '\e098';
	}
	&-whatsapp::before {
		content: '\e099';
	}
	&-wikipedia::before {
		content: '\e09a';
	}
	&-windows::before {
		content: '\e09b';
	}
	&-wordpress::before {
		content: '\e09c';
	}
	&-wykop::before {
		content: '\e09d';
	}
	&-xbox::before {
		content: '\e09e';
	}
	&-xing::before {
		content: '\e09f';
	}
	&-yahoo::before {
		content: '\e0a0';
	}
	&-yammer::before {
		content: '\e0a1';
	}
	&-yandex::before {
		content: '\e0a2';
	}
	&-yelp::before {
		content: '\e0a3';
	}
	&-younow::before {
		content: '\e0a4';
	}
	&-youtube::before {
		content: '\e0a5';
	}
	&-zapier::before {
		content: '\e0a6';
	}
	&-zerply::before {
		content: '\e0a7';
	}
	&-zomato::before {
		content: '\e0a8';
	}
	&-zynga::before {
		content: '\e0a9';
	}
}
// sass-lint:enable no-vendor-prefixes brace-style

/*
## JS Hooks
*/
// sass-lint:disable no-ids
#runway-js-hook-media-query {
	&::before {
		display: none;
		content: 'mobile';
	}
	@include from-tablet {
		&::before {
			display: none;
			content: 'desktop';
		}
	}
}
// sass-lint:enable no-ids


/*
## List Bare
*/

/*
## Media
*/

/*
## Layout
*/
.masonry {
	margin: rhythm(0 -0.5);
	&__item {
		width: 50%;
		margin-bottom: rhythm(1);
		padding: rhythm(0 0.5);
		&:only-child {
			margin-bottom: 0;
		}
		&--width-full {
			width: 100%;
		}
	}
	@include until-mobile {
		&__item {
			width: 100%;
			margin-bottom: rhythm(1);
		}
	}
}

/*
## Overlays
*/

/*
## Wrappers
*/
