/*
## Dark Color Scheme
*/
// sass-lint:disable no-important

.text-colors-light {
	color: $color__text-secondary--dark;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	@include sr-only;
	@include sr-only-focusable;
}

.overflow-hidden {
	overflow: hidden;
}

.no-transition {
	transition: none;
}
.no-transition-all * {
	transition: none;
}

// Text
.font-weight-normal {
	font-weight: $font-weight__base !important;
}
.font-weight-bold {
	font-weight: $font-weight__bold !important;
}
.font-style-italic {
	font-style: italic !important;
}
.text-align-justify {
	text-align: justify !important;
}
.white-space-nowrap {
	white-space: nowrap !important;
}
.text-transform-none {
	text-transform: none !important;
}
.text-transform-lowercase {
	text-transform: lowercase !important;
}
.text-transform-uppercase {
	text-transform: uppercase !important;
}
.text-transform-capitalize {
	text-transform: capitalize !important;
}
.text-transform-capitalize-first-letter {
	text-transform: lowercase !important;
	&::first-letter {
		text-transform: uppercase !important;
	}
}

// sass-lint:enable no-important
