@import 'colors';

// Rhythm and Responsive module settings
//---------------------------------------------------------------------------
$rhythm__font-size:						16px;
$rhythm__line-height:					1.5;
$rhythm__round-to-nearest-half-line:	true;
$rhythm__type-scale-ratio:				1.25;
// $rhythm__type-scale-round-function:		round;

$responsive__breakpoints: (
	mobile:								480px,
	tablet:								840px,
	desktop:							960px
);
$responsive__mobile-first:				false;
$responsive__lower-bound:				mobile;
$responsive__upper-bound:				desktop;
$responsive__font-size:					12px $rhythm__font-size;

// Typography
//---------------------------------------------------------------------------
$font-family__base: 					'Roboto', sans-serif;
$font-family__heading: 					'Roboto', sans-serif;
$font-family__title: 					'Josefin Sans', sans-serif;
$font-family__brandig: 					'Josefin Sans', sans-serif;
$font-family__code: 					'Roboto Mono', monospace;

$font-weight__base: 					400;
$font-weight__bold: 					500;
$font-weight__heading: 					500;
$font-weight__title: 					600;
$font-weight__brandig: 					700;
$font-weight__button: 					500;
$font-weight__dt: 						500;
$font-weight__quote: 					500;

// Color
//---------------------------------------------------------------------------
$color__accent: 						#B59F5B;
$color__accent-text: 					$alpha-white__900;

$color__info: 							#03A9F4;
$color__info-text: 						$alpha-white__900;
$color__success: 						#4CAF50;
$color__success-text: 					$alpha-white__900;
$color__warning: 						#FFC107;
$color__warning-text: 					$alpha-black__900;
$color__danger: 						#F44336;
$color__danger-text: 					$alpha-white__900;

$color__bg: 							$gray__100;
$color__text-primary: 					$alpha-black__900;
$color__text-secondary: 				$alpha-black__600;
$color__text-disabled: 					$alpha-black__500;
$color__text-hint: 						$alpha-black__500;
$color__dividers: 						$alpha-black__200;

$color__link: 							$color__accent;

$color__input-bg: 						$gray__100;
$color__input-border: 					transparent;
$color__input-disabled-bg: 				$gray__100;

$color__slider-track: 					$gray__300;
$color__slider-thumb: 					$gray__300;
$color__slider-track-active: 			$color__accent;
$color__slider-thumb-active: 			$color__accent;

$color__bg--dark: 						$gray__900;
$color__text-primary--dark: 			$alpha-white__900;
$color__text-secondary--dark: 			$alpha-white__400;
$color__text-disabled--dark: 			$alpha-white__200;
$color__text-hint--dark: 				$alpha-white__200;
$color__dividers--dark: 				$alpha-white__100;

$color__contrast-dark: 					$gray__900;
$color__contrast-light: 				$gray__100;

// Spacing
//---------------------------------------------------------------------------
$spacing__layout: 						0px;
$spacing__content: 						2px;

// Border width
//---------------------------------------------------------------------------
$border-width__dividers: 				2px;
$border-width__abbr: 					1px;
$border-width__input: 					2px;
$border-width__slider: 					2px;
$border-width__button: 					2px;
$border-width__table: 					2px;
$border-width__quote: 					4px;

// Border radius
//---------------------------------------------------------------------------
$border-radius: 						null;

// Width and Height
//---------------------------------------------------------------------------
$height__input: 						1.5;
$height__button: 						1.5;
$height__button-xsmall: 				1;
$height__button-small: 					1;
$height__button-h6: 					1.5;
$height__button-h5: 					2;
$height__button-h4: 					2.5;
$height__button-h3: 					3;
$height__button-h2: 					3.5;
$height__button-h1: 					4;

$min-height__textarea: 					$height__input * 2;

$size__slider-thumb: 					0.5;

// Transition
//---------------------------------------------------------------------------
$enable__transitions: 					true;
$transition__duration: 					0.3s;
$transition__function:					cubic-bezier(0.4, 0, 0.2, 1);

// Shadow
//---------------------------------------------------------------------------
$enable__shadows: 						true;

// Opacity
//---------------------------------------------------------------------------
$opacity__disabled: 					0.5;
$opacity__overlay: 						0.75;
$opacity__hero-image: 					0.75;

// Custom elements
//---------------------------------------------------------------------------
$size__radio: 							0.625;
$border-width__radio: 					2px;
$spacing__radio: 						2px;

$size__checkbox: 						0.625;
$border-width__checkbox: 				2px;
$spacing__checkbox: 					0px;
$border-radius__checkbox: 				0.125em;
