.customize-control-runway-image-select {
	*, *::before, *::after {
		box-sizing: border-box;
	}
	ul {
		margin: 0 -6px -6px 0;
		list-style: none;
		&::after {
			display: table;
			clear: both;
			content: '';
		}
	}
	li {
		width: percentage(1/3);
		margin: 0;
		padding: 0 6px 6px 0;
		float: left;
	}
	.runway-image-select-columns-1 {
		li {
			width: percentage(1/1);
		}
	}
	.runway-image-select-columns-2 {
		li {
			width: percentage(1/2);
		}
	}
	.runway-image-select-columns-3 {
		li {
			width: percentage(1/3);
		}
	}
	.runway-image-select-columns-4 {
		li {
			width: percentage(1/4);
		}
	}
	.runway-image-select-columns-5 {
		li {
			width: percentage(1/5);
		}
	}
	.runway-image-select-columns-6 {
		li {
			width: percentage(1/6);
		}
	}
	label {
		display: block;
	}
	img {
		display: block;
		width: 100%;
		height: auto;
		margin-bottom: 6px;
		border: 3px solid #FFF;
	}
	input[type='radio'] {
		display: none;
		&:checked + label img {
			border-color: #00A0D2;
		}
	}
}
