@import 'units';
@import 'rhythm';

// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.
$responsive__breakpoints: (
	xsmall:			320px,	// 20em
	small:			480px,	// 30em
	medium:			768px,	// 48em
	large:			1024px,	// 64em
	xlarge:			1248px,	// 78em
	super:			1856px 	// 116em
) !default;

// The length unit in which to output media query values.
// Supported values: px, em, rem.
$responsive__media-query-unit: em !default;

// Default media type
$responsive__default-media-type: all !default; // all, print, screen or speech

// Output the media queries with the mobile first approch if true,
// else with the desktop first approch. Does not change any CSS property or rule.
// Change if you care about how media queries will appear in output CSS file.
$responsive__mobile-first: true !default;

// Specifies the viewport widths between which the value is fluid.
// Outside of this range the value are set to min/max values.
// CSS <length> or brakpoint name from `$responsive__breakpoints` variable.
$responsive__lower-bound: small !default;
$responsive__upper-bound: large !default;

$responsive__font-size: false !default;

// Get a breakpoint's width
//
// @param {String} $name - Name of the breakpoint. One of $responsive__breakpoints
//
// @example scss
//  $tablet-width: breakpoint-width(tablet);
//  @media (min-width: breakpoint-width(desktop)) {}
//
// @requires {Variable} $responsive__breakpoints
//
// @returns {Number} Value in pixels
@function breakpoint-width(
	$name,
	$unit: $responsive__media-query-unit
	) {
	@if map-has-key($responsive__breakpoints, $name) {
		$width: map-get($responsive__breakpoints, $name);
		@return convert-length($width, $unit);
	}
	@warn 'Breakpoint "#{$name}" not found in "$responsive__breakpoints: #{$responsive__breakpoints}".';
}

// Name of the nth breakpoint, or null for the last breakpoint.
@function breakpoint-nth(
	$n
	) {
	$names: map-keys($responsive__breakpoints);
	@if $n >= 1 and $n <= length($names) {
		@return nth($names, $n);
	}
	@warn 'Breakpoint number "#{$n}" not found in "$responsive__breakpoints: #{$responsive__breakpoints}".';
}

// Name of the next breakpoint, or null for the last breakpoint.
@function breakpoint-next(
	$name
	) {
	$names: map-keys($responsive__breakpoints);
	$n: index($names, $name);
	@if $n == null {
		@warn 'Breakpoint "#{$name}" not found in "$responsive__breakpoints: #{$responsive__breakpoints}".';
	} @else if $n < length($names) {
		@return nth($names, $n + 1);
	} @else {
		@warn 'Breakpoint "#{$name}" is last in "$responsive__breakpoints: #{$responsive__breakpoints}". Returning null.';
		@return null;
	}
}

// Name of the prev breakpoint, or null for the last breakpoint.
@function breakpoint-prev(
	$name
	) {
	$names: map-keys($responsive__breakpoints);
	$n: index($names, $name);
	@if $n == null {
		@warn 'Breakpoint "#{$name}" not found in "$responsive__breakpoints: #{$responsive__breakpoints}".';
	} @else if $n > 1 {
		@return nth($names, $n - 1);
	} @else {
		@warn 'Breakpoint "#{$name}" is first in "$responsive__breakpoints: #{$responsive__breakpoints}". Returning null.';
		@return null;
	}
}

// Name of the first breakpoint.
@function breakpoint-first() {
	$names: map-keys($responsive__breakpoints);
	@if length($names) > 0 {
		@return nth($names, 1);
	} @else {
		@warn 'No breakpoints define "$responsive__breakpoints: #{$responsive__breakpoints}". Returning null.';
		@return null;
	}
}

// Name of the last breakpoint.
@function breakpoint-last() {
	$names: map-keys($responsive__breakpoints);
	$length: length($names);
	@if $length != null and $length > 0 {
		@return nth($names, $length);
	} @else {
		@warn 'No breakpoints define "$responsive__breakpoints: #{$responsive__breakpoints}". Returning null.';
		@return null;
	}
}

// Width of the nth breakpoint.
@function breakpoint-nth-width(
	$n,
	$unit: $responsive__media-query-unit
	) {
	@return breakpoint-width(breakpoint-nth($n), $unit);
}

// Width of the next breakpoint.
@function breakpoint-next-width(
	$name,
	$unit: $responsive__media-query-unit
	) {
	@return breakpoint-width(breakpoint-next($name), $unit);
}

// Width of the prev breakpoint.
@function breakpoint-prev-width(
	$name,
	$unit: $responsive__media-query-unit
	) {
	@return breakpoint-width(breakpoint-prev($name), $unit);
}

// Width of the first breakpoint.
@function breakpoint-first-width(
	$unit: $responsive__media-query-unit
	) {
	@return breakpoint-width(breakpoint-first(), $unit);
}

// Width of the last breakpoint.
@function breakpoint-last-width(
	$unit: $responsive__media-query-unit
	) {
	@return breakpoint-width(breakpoint-last(), $unit);
}

// Media Query mixin
//
// @param {String | Boolean} $from (false) - One of $responsive__breakpoints
// @param {String | Boolean} $until (false) - One of $responsive__breakpoints
// @param {String | Boolean} $and (false) - Additional media query parameters
// @param {String} $media-type ($media-type) - Media type: screen, print…
//
// @ignore Undocumented API, for advanced use only:
// @ignore @param {Map} $responsive__breakpoints ($responsive__breakpoints)
// @ignore @param {String} $static-breakpoint ($static-breakpoint)
//
// @content styling rules, wrapped into a @media query when $responsive is true
//
// @requires {Variable} $media-type
// @requires {Variable} $responsive__breakpoints
// @requires {Variable} $static-breakpoint
// @requires {function} convert-length
// @requires {function} breakpoint-width
//
// @example scss
//  .element {
//    @include media-query($from: mobile) {
//      color: red;
//    }
//    @include media-query($until: tablet) {
//      color: blue;
//    }
//    @include media-query(mobile, tablet) {
//      color: green;
//    }
//    @include media-query($from: tablet, $and: '(orientation: landscape)') {
//      color: teal;
//    }
//    @include media-query(950px) {
//      color: hotpink;
//    }
//    @include media-query(tablet, $media-type: screen) {
//      color: hotpink;
//    }
//    // Advanced use:
//    $my-breakpoints: (L: 900px, XL: 1200px);
//    @include media-query(L:, $static-breakpoint: L) {
//      color: hotpink;
//    }
//  }
@mixin media-query(
	$from: false,
	$until: false,
	$and: false,
	$media-type: $responsive__default-media-type,
	$unit: $responsive__media-query-unit
	) {

	$min-width: 0;
	$max-width: 0;
	$media-query: '';

	@if $from {
		@if type-of($from) == number {
			$min-width: convert-length($from, $unit);
		} @else {
			$min-width: convert-length(breakpoint-width($from), $unit);
		}
	}

	@if $until {
		@if type-of($until) == number {
			$max-width: convert-length($until, $unit);
		} @else {
			$o: if($unit == px, 0.01px, convert-length(0.001em, $unit));
			$max-width: convert-length(breakpoint-width($until), $unit) - $o;
		}
	}

	@if $min-width != 0	{
		$media-query: '#{$media-query} and (min-width: #{$min-width})';
	}
	@if $max-width != 0	{
		$media-query: '#{$media-query} and (max-width: #{$max-width})';
	}
	@if $and {
		$media-query: '#{$media-query} and #{$and}';
	}

	// Remove unnecessary media query prefix 'all and '
	@if ($media-type == all and $media-query != '') {
		$media-type: '';
		$media-query: str-slice(unquote($media-query), 6);
	}
	@media #{$media-type + $media-query} {
		@content;
	}
}

// Functions to return min/max value from a list variable.
// Some fuctions use list variables to specify min and max values in a single variable,
// rather than using two diffrent variables for min and max.
@function min-val($var) {
	@return nth($var, 1);
}
@function max-val($var) {
	@return if(length($var) > 1, nth($var, 2), $var);
}

// Responsive properties
@function responsive-calc(
	$value-min,
	$value-max: $value-min,
	$from-context: 0 0, // Required to convert responsive bounds to unit of min/max value
	$calc-keyword: true
	) {

	@if $value-min == $value-max {
		@return $value-min;
	}

	$from-context-min: type-scale(min-val($from-context));
	$from-context-max: type-scale(max-val($from-context));

	@if length($value-min) == length($value-max) {

		@if type-of($value-min) == type-of($value-max) {

			$calcs: null;

			@for $i from 1 through length($value-min) {

				$v-min: nth($value-min, $i);
				$v-max: nth($value-max, $i);

				@if type-of($v-min) == number and type-of($v-max) == number {

					@if unit($v-min) == unit($v-max) {

						@if $v-min == $v-max {

							$calcs: join($calcs, $v-min);

						} @else {

							$unit: if(unitless($v-min), $rhythm__unit, unit($v-min));

							$lower-bound: breakpoint-width($responsive__lower-bound, px);
							$upper-bound: breakpoint-width($responsive__upper-bound, px);

							$lower-bound: convert-length($lower-bound, $unit, $from-context-min);
							$upper-bound: convert-length($upper-bound, $unit, $from-context-max);

							$calc: '#{$v-min} + #{strip-unit($v-max - $v-min)} * ((100vw - #{$lower-bound}) / #{strip-unit($upper-bound - $lower-bound)})';

							@if $calc-keyword {
								$calc: calc(#{unquote($calc)});
							}

							$calcs: join($calcs, $calc);
						}

					} @else {
						@warn 'Unit of "$value-min: #{$value-min}" and "$value-max: #{$value-max}" is not the same.';
					}
				} @else {
					@if $v-min == $v-max {
						$calcs: join($calcs, $v-min);
					} @else {
						@warn 'Non-number values in "$value-min: #{$value-min}" and "$value-max: #{$value-max}" are not the same.';
						@if $responsive__mobile-first {
							$calcs: join($calcs, $v-min);
						} @else {
							$calcs: join($calcs, $v-max);
						}
					}
				}
			}
			@return $calcs;
		} @else {
			@warn 'Type of "$value-min: #{$value-min}" and "$value-max: #{$value-max}" is not the same.';
		}
	} @else {
		@warn 'Number of values in "$value-min: #{$value-min}" and "$value-max: #{$value-max}" is not the same.';
	}
}

// Responsive properties
@mixin responsive(
	$property,
	$value-min,
	$value-max: $value-min,
	$from-context: 0 0,
	$media-type: $responsive__default-media-type
	) {

	$from-context-min: type-scale(min-val($from-context));
	$from-context-max: type-scale(max-val($from-context));

	$lower-bound: $responsive__lower-bound;
	$upper-bound: $responsive__upper-bound;

	@if $value-min == $value-max {
		#{$property}: $value-min;
	} @else {
		@if $responsive__mobile-first {

			// Mobile first media queries
			#{$property}: $value-min;
			@include media-query($from: $lower-bound, $media-type: $media-type) {
				#{$property}: responsive-calc(
					$value-min,
					$value-max,
					$from-context: $from-context-min $from-context-max
				);
			}
			@include media-query($from: $upper-bound, $media-type: $media-type) {
				#{$property}: $value-max;
			}
		} @else {

			// Desktop first media queries
			#{$property}: $value-max;
			@include media-query($until: $upper-bound, $media-type: $media-type) {
				#{$property}: responsive-calc(
					$value-min,
					$value-max,
					$from-context: $from-context-min $from-context-max
				);
			}
			@include media-query($until: $lower-bound, $media-type: $media-type) {
				#{$property}: $value-min;
			}
		}
	}
}

@mixin responsive-font-size(
	$font-size,
	$line-height: auto,
	$from-context: 0 0,
	$media-type: $responsive__default-media-type
	) {

	$font-size-min: type-scale(min-val($font-size));
	$font-size-max: type-scale(max-val($font-size));

	$from-context-min: type-scale(min-val($from-context));
	$from-context-max: type-scale(max-val($from-context));

	@include responsive(
		font-size,
		convert-length($font-size-min, $rhythm__unit, $from-context-min),
		convert-length($font-size-max, $rhythm__unit, $from-context-max),
		$from-context: $from-context-min $from-context-max,
		$media-type: $media-type
	);

	@if $line-height {

		$line-height-min: min-val($line-height);
		$line-height-max: max-val($line-height);

		@if $line-height-min == auto {
			$line-height-min: lines-for-font-size($font-size-min);
		}

		@if $line-height-max == auto {
			$line-height-max: lines-for-font-size($font-size-max);
		}

		@if type-of($line-height-min) == number and type-of($line-height-max) == number {

			@if $rhythm__unit == em {
				$from-context-min: $font-size-min;
				$from-context-max: $font-size-max;
			}

			@include responsive(
				line-height,
				rhythm($line-height-min, $from-context: $from-context-min),
				rhythm($line-height-max, $from-context: $from-context-max),
				$from-context: $from-context-min $from-context-max,
				$media-type: $media-type
			);

		} @else {
			@if $responsive__mobile-first {
				line-height: #{$line-height-min};
			} @else {
				line-height: #{$line-height-max};
			}
		}

	}
}

// Establishes a font baseline for the given font-size.
@mixin establish-baseline {
	@at-root #{if(not &, html, &)} {
		@if $responsive__font-size {
			$font-size__min: 100% * (min-val($responsive__font-size) / $browser-default-font-size);
			$font-size__max: 100% * (max-val($responsive__font-size) / $browser-default-font-size);
			@include responsive(font-size, $font-size__min, $font-size__max, $browser-default-font-size);
		} @else {
			font-size: 100% * ($rhythm__font-size / $browser-default-font-size);
		}
		@if type-of($rhythm__line-height) == number and unitless($rhythm__line-height) {
			line-height: $rhythm__line-height;
		} @else {
			line-height: convert-length(baseline(), em, $rhythm__font-size);
		}
	}
}
