@import 'units';
@import 'math';

// The default font size for all text in pixels
$rhythm__font-size: 16px !default;

// The distance between text baselines (vertical rhythm) in pixels.
$rhythm__line-height: 1.5 !default;

// The CSS <length> unit in which to output rhythm values.
// Supported values: px, em, rem. Percent units can't be used since they
// make calculating padding and margins impractical, and percentage borders are
// not valid or supported in CSS.
$rhythm__unit: rem !default;

// Allows the `lines-for-font-size` function to round the line height to the
// nearest half line height instead of the nearest integral line height to
// avoid large spacing between lines.
$rhythm__round-to-nearest-half-line: false !default;

// Ensure there is at least this many pixels of vertical padding above and below the text.
$rhythm__min-line-padding: 2px !default;

// The ratio paired with base font size to create scale of values for typography font sizes.
$rhythm__type-scale-ratio: 1.25 !default;

// Round function for modular type scale font size.
$rhythm__type-scale-round-function: none !default; // round, ceil, floor or none

//Output zero without any unit or with the unit.
$rhythm__output-unitless-zero: true !default;

// Modular type scale function
@function type-scale(
	$step: 0,
	$base: $rhythm__font-size,
	$ratio: $rhythm__type-scale-ratio
	) {
	@if type-of($step) == number and unitless($step) {
		$ms: pow($ratio, $step) * $base;
		@if $rhythm__type-scale-round-function == round {
			// Rounds a number to the nearest whole number.
			@return round($ms);
		} @else if $rhythm__type-scale-round-function == ceil {
			// Rounds a number up to the next whole number.
			@return ceil($ms);
		} @else if $rhythm__type-scale-round-function == floor {
			// Rounds a number down to the previous whole number.
			@return floor($ms);
		} @else {
			@return $ms;
		}
	}
	@return $step;
}

// Calculate baseline from `$rhythm__font-size` and `$rhythm__line-height`, if `$rhythm__line-height` is unitless number.
@function baseline(
	$line-height: $rhythm__line-height,
	$font-size: $rhythm__font-size
	) {
	@if type-of($line-height) == number and unitless($line-height) {
		@return $font-size * $line-height;
	}
	@return $line-height;
}

// Calculate rhythm units.
// $values: "<rhythm value>:<offset>" to pass an offset to the rhythm value
@function rhythm(
	$values: 1,
	$unit: $rhythm__unit,
	$from-context: 0
	) {
	$from-context: type-scale($from-context);
	$baseline: baseline();
	$rhythm-values: ();
	@each $v in $values {
		$value-to-join: $v;
		@if type-of($v) == number and unitless($v)  {
			$value: $v * $baseline;
			$value: convert-length($value, $unit, $from-context);
			$value-to-join: $value;
		} @else if type-of($v) == string and str-index($v, ':') {
			$l: str-slice($v, 1, str-index($v, ':') - 1);
			$l: to-number($l);
			$value: convert-length($l * $baseline, $unit, $from-context);
			$o: str-slice($v, str-index($v, ':') + 1);
			$offset: to-number($o);
			$offset: convert-length($offset, $unit, $from-context); // TEST REQUIRED
			$value-to-join: $value + $offset;
		}
		@if $rhythm__output-unitless-zero {
			@if type-of($value-to-join) == number and strip-unit($value-to-join) == 0 {
				$value-to-join: 0;
			}
		}
		$rhythm-values: join($rhythm-values, $value-to-join);
	}
	@if length($rhythm-values) == 1 {
		@return nth($rhythm-values, 1);
	}
	@return $rhythm-values;
}

// Calculate the minimum multiple of rhythm units needed to contain the font-size.
@function lines-for-font-size(
	$font-size
	) {

	$baseline: baseline();
	$lines: ceil($font-size / $baseline);

	@if $rhythm__round-to-nearest-half-line {
		$lines: ceil(2 * $font-size / $baseline) / 2;
	}

	// If lines are cramped include some extra lead.
	@if ($lines * $baseline - $font-size) < ($rhythm__min-line-padding * 2) {
		@if $rhythm__round-to-nearest-half-line {
			$lines: $lines + 0.5;
		} @else {
			$lines: $lines + 1;
		}
	}

	@return $lines;
}

// Font size
@mixin font-size(
	$font-size: 0,
	$line-height: auto,
	$unit: $rhythm__unit,
	$from-context: 0,
	$important: false
	) {
	$font-size: type-scale($font-size);
	$from-context: type-scale($from-context);
	@if ( $important ) {
		font-size: convert-length($font-size, $unit, $from-context) !important;
	} @else {
		font-size: convert-length($font-size, $unit, $from-context);
	}
	@if $line-height {
		@if $unit == em {
			$from-context: $font-size;
		}
		@if $line-height == auto {
			$line-height: lines-for-font-size($font-size);
			line-height: rhythm($line-height, $unit, $from-context);
		} @else if $line-height == base {
			@if type-of($rhythm__line-height) == type-of($rhythm__font-size) and unit($rhythm__line-height) == unit($rhythm__font-size) {
				line-height: $rhythm__line-height / $rhythm__font-size;
			} @else {
				line-height: $rhythm__line-height;
			}
		} @else if type-of($line-height) == number and unitless($line-height) {
			line-height: rhythm($line-height, $unit, $from-context);
		} @else if type-of($line-height) == string and str-index($line-height, ':') {
			line-height: rhythm($line-height, $unit, $from-context);
		} @else {
			line-height: #{$line-height};
		}
	}
}

// Establishes a font baseline for the given font-size.
@mixin establish-baseline {
	@include optional-selector(html) {
		font-size: 100% * ($rhythm__font-size / $browser-default-font-size);
		@if type-of($rhythm__line-height) == number and unitless($rhythm__line-height) {
			line-height: $rhythm__line-height;
		} @else {
			line-height: convert-length(baseline(), em, $rhythm__font-size);
		}
	}
}
