.customize-control-runway-image-select *, .customize-control-runway-image-select *::before, .customize-control-runway-image-select *::after {
  box-sizing: border-box;
}

.customize-control-runway-image-select ul {
  margin: 0 -6px -6px 0;
  list-style: none;
}

.customize-control-runway-image-select ul::after {
  display: table;
  clear: both;
  content: '';
}

.customize-control-runway-image-select li {
  width: 33.3333333333%;
  margin: 0;
  padding: 0 6px 6px 0;
  float: left;
}

.customize-control-runway-image-select .runway-image-select-columns-1 li {
  width: 100%;
}

.customize-control-runway-image-select .runway-image-select-columns-2 li {
  width: 50%;
}

.customize-control-runway-image-select .runway-image-select-columns-3 li {
  width: 33.3333333333%;
}

.customize-control-runway-image-select .runway-image-select-columns-4 li {
  width: 25%;
}

.customize-control-runway-image-select .runway-image-select-columns-5 li {
  width: 20%;
}

.customize-control-runway-image-select .runway-image-select-columns-6 li {
  width: 16.6666666667%;
}

.customize-control-runway-image-select label {
  display: block;
}

.customize-control-runway-image-select img {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 6px;
  border: 3px solid #FFF;
}

.customize-control-runway-image-select input[type='radio'] {
  display: none;
}

.customize-control-runway-image-select input[type='radio']:checked + label img {
  border-color: #00A0D2;
}
